[2018-04-08 06:58] pjotrp commented on #314
And this is the GN2 specific modification against DataTables (which is the interesting one)

[code]

[2018-04-08 07:03] pjotrp commented on #314
Finally, this is the JS diff

[code]

[2018-04-09 15:40] zsloan commented on #314
So should I see how the tables look without any of the changes and then add
the necessary ones to a separate CSS file?

On Sun, Apr 8, 2018 at 2:03 AM, Pjotr Prins <notifications@github.com>
wrote:

[2018-04-09 16:42] pjotrp commented on #314
Yeah, I'll make an example. But let me prepare the PR first.

[2018-04-13 18:06] fredmanglis commented on #298
I think this is caused by how Elasticsearch indexes the data.

if you save an email like someone@example.com, elasticsearch tokenizes it into ["someone", "example.com"] by default.

This means that a search for an email "aDifferentOne@example.com" domain will return results for all domains with "example.com" including "someone@example.com"

The solution is to define a custom analyzer, but I'm yet

[2018-04-13 18:25] zsloan commented on #298
Is this a separate issue from the thing that caused Rob to receive my
forgotten password e-mails? Because in that case I was using gmail and Rob
should have been using a UTHSC account.

On Fri, Apr 13, 2018 at 1:06 PM, Muriithi Frederick Muriuki <
notifications@github.com> wrote:

[2018-04-14 05:24] pjotrp commented on #298
@zsloan same issue.

@fredmanglis use the analyzed/not_analyzed option:

https://stackoverflow.com/questions/38256584/elasticsearch-to-wildcard-search-email-addresses

[2018-04-15 06:44] pjotrp opened #316 "Move pdf files and source tarballs into IPFS"
- [ ] Start IPFS server on GN2
- [ ] Add it to systemd
- [ ] Add PDF files and fix references
- [ ] Add source files and fix references

[2018-04-15 06:47] #151 closed

[2018-04-15 06:47] #150 closed

[2018-04-15 06:48] #148 closed

[2018-04-15 06:49] pjotrp commented on #218
Dropped this in favour of environment variables.

[2018-04-15 06:49] #218 closed

[2018-04-15 06:52] pjotrp commented on #134
The tree is getting smaller thanks to removing code/libs. We'll attempt another diet on the git repo itself soon when we have merged Fred's python3 migration. Easy now it is only the three of us.

[2018-04-15 06:54] pjotrp commented on #62
@zsloan should we close this one?

[2018-04-15 09:32] fredmanglis commented on #298
I've pushed changes to the testing branch of my fork of the project that should fix the issues. Please test and let me know if there's something I've missed.

[2018-04-16 02:03] zsloan commented on #62
Yeah; we now have a mapping method ID in the database that shows which methods are applicable to a particular group.

[2018-04-16 02:03] #62 closed

[2018-04-17 06:48] pjotrp commented on #257
Error is gone. See also #287

[2018-04-17 06:48] #257 closed

[2018-04-17 06:57] pjotrp opened #319 "Mysql running out of connections"
One of the final instabilities is that we run out of connections which has a duplicate in #156. The trait usually works.

[code]

[2018-04-17 06:59] pjotrp commented on #156
Moved to issue #319

[2018-04-17 06:59] #156 closed

[2018-04-17 07:10] pjotrp commented on #319
According to mysql status the Mysql server was restarted after above error. Currently we have 100 connections possible and 26 are in use:

[code]

[2018-04-17 07:44] pjotrp commented on #319
[code]

I stopped it at 50. Zach, we can reproducibly add threads to the pool
that are not released. Eventually they get cleaned up because gunicorn
restarts Python ever so often. But you can see it is quite easy to run
out of threads. The solution is not to add threads (100 should be
enough), but to fix the items that are not releasing threads.

I think SQLalchemy manages its own threads alright.

[2018-04-17 15:47] zsloan commented on #319
Could just using the "escape" function from an MySQLdb import (and not
actually creating a collection) cause an issue? Because I think that's the
only way it's actually used that isn't in a script (or in code I removed,
like AJAX_table.py or the place in webqtlDatabaseFunction, that will be
gone when I push those changes).

On Tue, Apr 17, 2018 at 2:44 AM, Pjotr Prins <notifications@github.com>
wr

[2018-04-17 15:55] zsloan commented on #319
Ah wait I found something potentially strange. The query to get threads
connected is helpful; at least now I can see when they're being connected
and not removed.

On Tue, Apr 17, 2018 at 10:46 AM, Zachary Sloan <zachary.a.sloan@gmail.com>
wrote:

[2018-04-17 18:31] pjotrp commented on #319
While sleuthing make sure to read and understand the Alchemy page I added above. To be on the safe side we should always close connections once used. Connection pooling is not really needed because we fire up long 'running' pages anyway. You can use one database connection across a page. Other optimizations can come later. So, if we pool, disable. That is my suggestion. Close connections. See what

[2018-04-18 05:28] pjotrp commented on #319
@zsloan this is an interesting link: https://stackoverflow.com/questions/8645250/how-to-close-sqlalchemy-connection-in-mysql, especially the first answer. I suggest we use NullPool now and try to close every connection once it is used. NullPool won't cache pooled connections so there should be a direct relationship with connections shown to be in use.

Btw the escape function of MySQLdb should not

[2018-04-19 08:47] fredmanglis commented on #107
@pjotrp What is needed for this?

[2018-04-19 09:40] pjotrp commented on #107
Authentication is in testing. Authorisation is at the DB layer. I'll reassign to Zach.

[2018-04-21 08:52] pjotrp opened #320 "Should GEMMA not use LR test?"
Why are you using the Wald test?

[code]

[2018-04-21 08:54] pjotrp opened #321 "Check whether GEMMA reduces K"
Another thing I need to check is whether GEMMA filters out any genotypes before
computing K (based on the phenotypes/covariates) with this dataset. If
that is the case K will need to be computed for every phenotype.
Currently we assume GEMMA is happy with a full K, but I actually know
GEMMA does filter on genotypes before computing K. If I look at above

[code]

there are no genotypes are being re

[2018-04-23 15:56] zsloan commented on #320
Just because it was the default; if some other option is better I can
change it.

On Sat, Apr 21, 2018 at 3:53 AM, Pjotr Prins <notifications@github.com>
wrote:

[2018-04-23 15:57] pjotrp commented on #320
Yeah, use -lmm 2 instead.

[2018-05-02 08:37] pjotrp opened #322 "Permutations with LMM (pylmm and gemma)"
In the current GN2 setup permutations also shuffle the NAs of the phenotypes. I think this is wrong because you get a different kinship matrix every time. Phenotypes need to be shuffled with the exact
same genotypes every time.

[2018-05-02 12:17] robwwilliams commented on #322
Thanks for catching that error Pjotr!

On Tue, May 1, 2018 at 10:37 PM Pjotr Prins <notifications@github.com>
wrote:

--
Rob

Robert W. Williams, Ph.D.
Chair: Department of Genetics, Genomics and Informatics
71 S Manassas St, Memphis TN 38163
University of Tennessee Health Science Center
Office 901 448-7050  CELL 901 604 4752
Office: Translational Science Research Building, Room 407
EMAIL: rwillia

[2018-05-22 19:27] pjotrp opened #323 "Port GN1 features to Flask"

[2018-06-05 16:08] zsloan opened #324 "Store data on group parents (for example B and D for BXD or B6D2F2)"
Currently the code doesn't really notice if different groups share the same parents. As a result, the SNP track for single chromosome mapping results appears for the "regular" BXD group but doesn't appear for other groups with B and D as parents.

[2018-06-05 16:11] zsloan opened #325 "Get genotypes directly from genofile"
Currently you can only view genotypes on the trait page if the genotypes are stored in the MySQL database. Instead, it should be possible to just get them directly from the genofile.

The main (and possibly only) concern about this would be related to running searches (since they wouldn't be in MySQL), but it should at least be possible to view markers on the trait page with their values loaded fr

[2018-06-13 10:15] pjotrp opened #326 "pylmm fails"
Using http://gn2.genenetwork.org/show_trait?trait_id=1433387_at&dataset=HC_M2_0606_P

Something with redis?

[code]

[2018-06-13 16:48] zsloan commented on #326
This seems to just mean that an error is occurring within the external
module (which is called pylmm_redis but just runs all the pylmm code). I
can take a look at it later (though I'm not sure how best to debug it other
than printing to a debug file), but it might take a while since I have
little familiarity with the actual internal pylmm code. In the meanwhile
I'll just remove the option so no on

[2018-06-14 07:49] pjotrp commented on #320
Fixed.

[2018-06-14 07:49] #320 closed

[2018-06-14 09:07] pjotrp commented on #326
It gets the data from redis - looks like a species problem.

[2018-08-23 09:17] pjotrp opened #327 "Support GN1 freeze files"
The Freeze files were implemented in about 2008-2009 by David Crowell
   to avoid complex table joins and speed up correlation computation. I
   thought that Lei actually got this working in GN2 at some point. We
   absolutely need this too work because we need correlations to compute
   wickedly fast and there is no way to do that from a standard MySQL
   table structure. There is from these "mat

[2018-08-23 09:42] pjotrp commented on #316
@robwwilliams the PDFs are currently in GN1's github repository, see https://github.com/genenetwork/genenetwork/tree/master/web/images/upload. We should move them into IPFS and load them from there.

[2018-08-23 09:45] pjotrp commented on #316
GN1 has about 37GB of data that is not stored on github. In particular

[code]

[2018-08-23 10:03] pjotrp opened #328 "Missing PDFs and broken links"
We are missing a bunch of PDFs and we have broken links. When we find PDFs they should be added to IPFS (see #316).

[2018-08-24 20:19] zsloan opened #329 "Check why scatterplot has issues for HSNIH data"
This is just a reminder to check that the scatterplot cofactor feature works with HSNIH data

[2018-08-24 20:22] zsloan opened #330 "Changes to mapping output image"
- Better trait descriptor needed
- Timestamps/versions
- Sample size
- Genotype filename
- Maybe alternating point colors, or option to customize them (though option to customize will need to wait until we add the option to fully cache mapping results)

[2018-08-24 20:22] zsloan opened #331 "Better descriptors for mapping cofactor selection list"
Use full description for cofactors after selecting them for mapping on the trait page

[2018-08-27 08:24] pjotrp opened #332 "Fix hardcoded links to www.genenetwork.org"

[2018-08-27 08:27] pjotrp opened #333 "GN1: compute error"
Got this error computing correlations using this URL using all three
   methods of correlation

[code]

[2018-08-27 08:28] pjotrp commented on #333
@robwwilliams writes:   The reason may be that markers from the newer 2017 genotypes are NOT in
   the GN1/GN2 database. This is a design issue—we need the genotypes
   both in .geno files for rapid computation, but we also need them in the
   database to use as cofactors etc.

[2018-08-27 10:05] pjotrp opened #334 "Improved Kinship/GRM support for GN2"
Relates to https://github.com/genetics-statistics/GEMMA/issues/155.

When gemma can reduce a pre-computed GRM we can embed it in GN2. From Abe's E-mail (Aug.23 2018) I realized we need subsetted pre-computed GRMs which we can select for in the GN2 UI.

Now, rather than adding state to the database (pointing out which files to use) I think what we should do is have state in the file system and add

[2018-08-30 18:27] zsloan opened #335 "Define sample/strain groups somewhere"
Currently samples/strains for a group are only split into groups based upon whether they appear in the group's genofile, with the ones that appear in the DB but not the genofile being put into an "Other" category.

Ideally the group(s) a sample/strain belongs to would be indicated somewhere in the DB, so that more than just those 2 groups could exist (for example for groups like MDP, where there m

[2018-09-03 06:35] zsloan opened #336 "Couple eigentrait additions/changes"
- Assert that the mean of an eigentrait, which is normalized to z-scores, is 0

- Add option to flip polarity of an eigentrait

[2018-09-03 06:39] zsloan opened #337 "Check to see if assert should be included with code that gets N overlap"
See if the function that gets the overlap between two traits for correlations could benefit from an assert statement

[2018-09-05 08:36] pjotrp opened #338 "GN2 writes images to wrong directory"
git shows these files in the source tree on production:

        wqflask/wqflask/static/output/Itvl_udjcpqpE.jpeg
        wqflask/wqflask/static/output/Itvl_uqDUAIut.jpeg
        wqflask/wqflask/static/output/Itvl_uzXeSCx9.jpeg
        wqflask/wqflask/static/output/Itvl_wPPjtGmf.jpeg
        wqflask/wqflask/static/output/Itvl_ypSTJJ0I.jpeg
        wqflask/wqflask/static/output/Itvl_zAUYx2Ii.jpeg

[2018-09-06 15:51] zsloan opened #339 "Change trait page table"
I might want to write some code that dynamically sets the table width depending upon the width of the longest strain/sample name and the values. I can also experiment with having borders on the table cells, though I doubt that will look good.

[2018-09-06 16:01] zsloan opened #340 "Create "default" collection for user when they log in"
Rob suggested automatically creating an empty collection for users when they log in, with a name composed of their e-mail prefix and a timestamp. The example he gave is:

"labwilliams_2018Sept5_10:53:59AM" for a user with an e-mail of labwilliams@uthsc.edu

[2018-09-06 21:43] zsloan opened #341 "Additions to transform option"
- Add z-score transform
- Add value inversion (+/-), ideally as a separate transform in addition to another transform
- Display to the user which transforms have been applied already

[2018-09-24 18:21] zsloan opened #343 "Fix and maybe port Pair Scan"
At some point in the last couple years, permutations stopped working for GN1's Pair Scan feature (and it apparently also has some issue with the new genotypes?). I need to check and see if there's some obvious reason for this, and also evaluate whether it might be easy to port the feature to GN2.

[2018-09-26 18:40] zsloan opened #344 "Add N (and maybe SEM?) to trait data table"
GN2 currently doesn't show N for relevant trains in the sample/strain table, but that needs to be added since the data exists (in the NStrain MySQL table).

Apparently SEM might also not be displayed for certain traits? If it's not, I also need to add that.

[2018-11-02 20:48] zsloan opened #345 "More informative error for mapping"
Mapping displays a kind of misleading error (that seems like it's an issue related to there not being additive effect) any time an error occurs when it attempts to run some mapping code from the command line and no results are returned. The error specifically occurs due to "markers" being empty, but I should instead just display a page with a better looking error page indicating what actually went

[2018-11-05 20:20] zsloan opened #346 "Set MAF default based on # samples"
Abe mentioned during the presentation that it might be a good idea to make the MAF 0.01 for situations with ~1000 samples. This is a pretty easy change to make, so I'll ask Rob about it.

[2018-11-05 21:14] zsloan opened #347 "Look into faster zooming for GEMMA"
I think it might be possible to avoid recalculations when zooming into chromosomes/ranges for GEMMA, since it just outputs results as text files and it should be possible to pass something to the web page indicating where it should look for the results when remapped in some way.

This is a particular big issue now that we're mapping with data that takes 10+ minutes.

[2018-11-29 07:09] fredmanglis commented on #249
@pjotrp See commit 5682abba8162ebe575dedae2b19fa9076f01f46b in branch `migrate-to-python3`

[2018-11-29 14:50] pjotrp commented on #249
Thanks!

[2018-11-29 14:50] #249 closed

[2018-12-13 04:06] ameliebaud opened #348 "Error mapping CFW RNAseq data"
Hi,

I was trying to map genome-wide without LOCO the Epha4 gene in the hippocampus and got the following error. I'm really keen to see the results, please let me know how I can help/whether it's feasible.

Thanks guys!

Amelie

    GeneNetwork tux01:gene:2.11-rc2-production-c2f164331 http://gn2.genenetwork.org/run_mapping ( 4:03AM UTC Dec 13, 2018)
    [Errno 2] No such file or directory: u'/expo

[2018-12-13 13:11] robwwilliams commented on #348
Dear Amelie,

I used an *Epha4* probeset and BXD hippocampus

http://gn2.genenetwork.org/show_trait?trait_id=1421928_at&dataset=HC_M2_0606_P

and got it to work both with and without LOCO.

BUT the plots and table LOD score values are identical. THIS is a concern.
Zach, Pjotr: one of these plots is probably incorrect in terms of the
computing method.

Here with

[image: Itvl_TixnbRd8.png]
Here wit

[2018-12-13 14:06] ameliebaud commented on #348
Thanks Rob!
I was also able to map Epha4 this morning but then I tried another gene (Dlgap1 hippocampus) and got the same error as yesterday for Epha4.
Did you have to fix something?
I noticed that I have 3 mapping options for Epha4 this morning (only had GEMMA yesterday) but only have Gemma for Dlgap1.

Amelie. Sent from my phone.

[2018-12-13 19:39] ameliebaud commented on #348
Hi again,

Sorry I think there was a misunderstanding. I was trying to use the CFW dataset, not the BXD. I don’t seem to be able to map CFW expression data in GN2, is that right? GN1 won’t let me do it either (with regular mapping, I don’t mind at this point).

Amelie

[2018-12-13 19:49] robwwilliams commented on #348
Yep, mapping of CFW data fails.  This will almost certainly be a problem
with the genotype file.
Zach will be back soon and should be able to fix.

On Thu, Dec 13, 2018 at 1:39 PM Amelie Baud <notifications@github.com>
wrote:

--
Rob

Robert W. Williams, Ph.D.
Chair: Department of Genetics, Genomics and Informatics
71 S Manassas St, Memphis TN 38163
University of Tennessee Health Science Center
Of

[2018-12-14 01:41] pjotrp commented on #348
Maybe this happens when you hit the compute button twice in succession? I can imagine a race condition here where two gemma's are trying to write the same file. Getting the same result may be a naming problem. @zsloan are we sure we generate different output names for the json results?

[2018-12-14 03:54] ameliebaud commented on #348
No sorry I get the error everytime I try to map CFW data but I was not getting the error when I followed Rob’s link, but then it was using BXD data.

Amelie

[2018-12-14 08:38] zsloan commented on #348
The genofile is the problem. It seems that when I ran the script to update
stuff for some reason it overwrote the correct CFW file (no idea why this
occurred, since the tag to ignore it was included and it (fortunately) did
not do this for other similar genotype files with dummy .geno files, like
HSNIH-Palmer).

I'm not sure if I have access to the correct CFW genofile; it's on my work
computer an

[2018-12-17 21:43] ameliebaud commented on #348
Hi,

I’m writing to follow on the possibility to map CFW data using either GN1 or GN2. Ideally I would like to do that for a paper I plan to resubmit on Wednesday. Do you think that will be possible? If not I’ll get to work to do that outside of GN.

Thanks,

Amelie

[2018-12-17 21:54] zsloan commented on #348
I think that my initial understanding was actually wrong, and the new CFW
genotypes were never moved over to GN2. This seems to be because one of the
files is missing. My guess is that when I originally went to move the
genotypes over I noticed that the _snps file (a file with a list of markers
and their locations) was missing. Normally I would ask Apurva to send this
file, but Arthur says she's o

[2018-12-17 22:31] ameliebaud commented on #348
Hi Zach,

Thanks for your reply and making this possible. I am happy to map without LOCO. Also I would be happy mapping using the old file (which I assum is the non imputed genotypes) rather than the new one (imputed?). What Apurva (CC’ed) does here is map using non imputed then fine map using imputed.

Amelie

[2018-12-17 23:15] zsloan commented on #348
I've been looking at this and it seems there may have been some confusion
on our part, though from what I'm seeing here I'm confused as to how CFW
mapping ever worked with GEMMA. Looking at past e-mails, it's possible this
issue was just never fully resolved. Does anyone remember doing mapping for
CFW with GEMMA?

Also, does anyone know if CFW should include samples like 26305 etc? GN1
only shows

[2018-12-17 23:22] ameliebaud commented on #348
Let’s loom in Apurva she’s in the office and am sure she’ll be able to help.

Amelie

[2018-12-18 00:59] ameliebaud commented on #348
Hi Zach,

Copying all the relevant emails about the CFW data:

Email1:

From: Zachary Sloan [zachary.a.sloan@gmail.com]
Sent: Wednesday, April 18, 2018 10:35 AM
To: Palmer, Abraham
Cc: Chitre, Apurva; Natalia Gonzales; Rob Williams; Arthur Centeno; Centeno, Arturo G; Pjotr Prins; Williams, Robert
Subject: Re: AIL data on GN2

The files are converted, but there's an issue I've noticed that is causi

[2019-01-10 20:24] zsloan commented on #339
Tables have been significantly improved and people seem to be generally satisfied with the redesign, so closing this.

[2019-01-10 20:24] #339 closed

[2019-01-12 07:31] pjotrp commented on #339
Thanks @zsloan!

[2019-01-17 19:52] zsloan opened #349 "Add option to apply transform to target dataset when doing correlation"
Currently you can apply a transform to a specific trait, but if you correlate against another dataset that dataset might not also be transformed. So I should add an option to apply the same transform to the traits being correlated against. I don't think this will be very hard to do, and I don't think it will be that much slower.

[2019-02-13 12:25] pjotrp commented on #326
Since we are no longer using pylmm

[2019-02-13 12:25] #326 closed

[2019-02-13 12:26] pjotrp commented on #289
pylmm is being removed.

[2019-02-13 12:26] #250 closed

[2019-02-13 12:26] #215 closed

[2019-02-13 12:27] pjotrp commented on #186
We OK with this now?

[2019-02-13 12:28] #37 closed

[2019-02-13 12:28] #30 closed

[2019-02-13 12:28] #322 closed

[2019-02-13 12:29] pjotrp opened #350 "Remove pylmm code from GN2"
Since we are no longer using pylmm it should be removed in a clearly marked commit message

[2019-02-13 12:47] pjotrp commented on #350
Done in https://github.com/genenetwork/genenetwork2/pull/351

[2019-02-13 12:47] #350 closed

[2019-02-13 13:12] pjotrp opened #352 "Updating software to Guix gn-latest-20190213"
- removed pylmm dependency
- rpy2 won't compile

[2019-02-13 13:13] pjotrp commented on #134
This is something to re-attempt in spring :)

[2019-02-13 13:31] pjotrp commented on #352
Builds fully on Guix. Had to disable python-rpy2 tests (one test failing). Still need to test GN2 as a whole.

[2019-02-13 13:35] pjotrp commented on #352
Will deploy this soon on GN2. After build and test gemma v0.99-pre with the new K computation. https://github.com/genetics-statistics/GEMMA/issues/193

[2019-02-13 13:48] robwwilliams commented on #186
No and yes. Just checked BXD Phenotype Trait 12660 using default setting.
No result after 3 minutes, but finally the output below after about 4
minutes.

The issue is the number of permutations (default at 2000). Simple fix would
be to reduce to 200 permutations fo this code.

[image: image.png]

On Wed, Feb 13, 2019 at 6:27 AM Pjotr Prins <notifications@github.com>
wrote:

--
Rob

Robert W. Willi

[2019-02-13 15:42] pjotrp opened #353 "Add Mastodon feed"
Mastodon has an interesting API which we can use to push updates to. Bit like the twitter feed we already have, but more on automated user/developer activity.

[2019-02-13 16:38] zsloan commented on #186
I just made this change on my branch, and I'll go ahead and push it later
today since it's very simple.

On Wed, Feb 13, 2019 at 7:48 AM robwwilliams <notifications@github.com>
wrote:

[2019-02-13 16:41] zsloan commented on #348
This issue ended up being fixed, so closing it.

[2019-02-13 16:41] #348 closed

[2019-02-13 16:42] zsloan commented on #344
N has been added to trait table.

[2019-02-13 16:42] #344 closed

[2019-02-13 16:56] zsloan commented on #338
I can't find anything still writing out to this directory. It appears that qtlreaper results (both the figure and the permutation chart when applicable) used to be sent to that directory, but at some point the path was changed to the correct TMPDIR.

Closing, but I'll keep an eye out in that directory periodically.

[2019-02-13 16:56] #338 closed

[2019-02-13 17:04] zsloan commented on #306
This was fixed at some point.

[2019-02-13 17:04] #306 closed

[2019-02-13 17:04] zsloan commented on #305
This was already added.

[2019-02-13 17:04] #305 closed

[2019-02-13 17:08] zsloan commented on #287
All this stuff with collections/users should be working now.

[2019-02-13 17:08] #287 closed

[2019-02-13 17:09] zsloan commented on #286
Error pages were added that notify the users if too few (or no) traits were selected for collection page features.

[2019-02-13 17:09] #286 closed

[2019-02-14 12:09] pjotrp commented on #352
I still want to see what that failing RPy2 test entails

[2019-02-14 23:25] zsloan commented on #329
There doesn't seem to be a problem with this.

[2019-02-14 23:25] #329 closed

[2019-02-14 23:25] zsloan commented on #335
Marking this as "hard difficulty" because it's the sort of thing that's going to require a significant redesign to the way we store data.

[2019-02-15 06:42] pjotrp commented on #265
One step replace PIL with Pillow https://github.com/genenetwork/genenetwork2/pull/355

[2019-02-15 06:43] pjotrp commented on #265
Bumped priority. Without Python3 we are in trouble upgrading software.

[2019-02-18 17:38] zsloan commented on #331
I changed this to show the ID + a truncated description, but I'm not sure if this is ideal. I'll have to ask Rob later. Might need to change the way it generates the "readable" trait name depending upon the data type.

[2019-03-01 22:14] zsloan commented on #330
All the changes listed here have been added.

[2019-03-01 22:14] #330 closed

[2019-03-01 22:17] zsloan commented on #281
The change I mentioned in that comment from a year ago was pushed a long time ago, so closing this issue.

[2019-03-01 22:17] #281 closed

[2019-03-01 22:19] zsloan commented on #345
This change was made recently. It now give a "real" error page telling the user that there was some issue while mapping was running and to contact us about it (since the cause is usually something like a flawed/missing genotype file).

[2019-03-01 22:19] #345 closed

[2019-03-01 22:22] zsloan commented on #337
This seems okay? There are no problems with displaying N overlap, so I don't think there's any continued need for this issue.

[2019-03-01 22:22] #337 closed

[2019-03-04 12:29] pjotrp opened #357 "Add links to GN1 for GN2 functionality to move people over"

[2019-03-04 16:35] zsloan commented on #341
These changes have been added on my branch and will be included in next push to production.

[2019-03-04 16:35] #341 closed

[2019-03-04 19:46] MulliganLab opened #358 "Request to compute 1.5 LOD confidence interval for traits in the BXD Published Phenotypes Database"
The interval would then be displayed for each trait in the Search Results page.
1. Users would no longer have to calculate the interval by hand for each trait of interest.
2. This would automate analysis of overlapping trait QTLs for a particular gene, marker, or QTL interval.
3. This would standardize QTL regions of interest for each trait as users may use their own method (or none at all) to sel

[2019-03-05 17:40] zsloan commented on #298
This issue was fixed by Fred a while back.

[2019-03-05 17:40] #298 closed

[2019-03-05 18:09] zsloan commented on #283
How should this be done? I'd think it would be some sort of option in GEMMA wrapper itself, since I think that's where it checks to see if results are cached. While the directory with the cached files could be emptied, that seems like a bad idea since we don't want a user to be able to remove the cache for other users.

[2019-03-05 18:25] zsloan commented on #271
Looking at this issue while going through past issues, and mapping still doesn't work. As mentioned earlier in this thread, it appears to be because of the genotypes file (and the NA columns probably). It fails when attempting to generate the kinship matrix (with the error below). Not sure how to resolve this.

k_command:/usr/local/guix-profiles/gn-latest-20181119/bin/gemma -debug -g /export/local

[2019-03-05 18:38] jdjentsch commented on #271
Hi all -

Thank you for continuing to focus on this issue. Mouse Phenome Database now
holds the updated genotype files for the MDP which they are using to
implement PyLMM analyses. I wonder if you could obtain the same up to date
genotypes files for GN2.

https://phenome.jax.org/projects/UCLA1

David

On Tue, Mar 5, 2019 at 1:25 PM zsloan <notifications@github.com> wrote:

--

J. David Jentsch, Ph

[2019-03-05 19:14] zsloan commented on #263
This option (among others) has been added to the trait page.

[2019-03-05 19:14] #263 closed

[2019-03-05 19:15] zsloan commented on #260
This issue was fixed a while back. There was an issue with the link.

[2019-03-05 19:15] #260 closed

[2019-03-05 20:47] zsloan commented on #252
These were either fixed in the past or were fixed in changes I made just now to be included in next push.

[2019-03-05 20:47] #252 closed

[2019-03-05 20:49] zsloan commented on #227
Is this referring to the permutation bar chart and download link when using qtlreaper? If so, this was added to GN2.

[2019-03-05 21:10] zsloan commented on #223
This was changed to not default to corr_compute, and both correlation and mapping are now sent to loading page first.

[2019-03-05 21:10] #223 closed

[2019-03-05 21:36] zsloan commented on #233
This issue still exists, though I'm not sure if it's the exact same problem that was originally described. The actual correlations are the same (if you look at the same gene in the results it will have the same r), but the list is different and doesn't include most of the higher correlated genes from the GN1 results.

The issue with N Rob described doesn't seem to be the case (anymore at least). I

[2019-03-05 22:14] zsloan commented on #209
The thing Pjotr mentioned in the most recent comment was actually mentioned in a separate issue, and I've already made the change to show the genofile name on my branch (which will be included in next push).

So I guess it's fine to close this now.

[2019-03-05 22:14] #209 closed

[2019-03-05 22:20] zsloan commented on #206
I don't know what's causing this to be so slow, or how to fix it. Not sure how to improve the query, if it can be improved with our current database structure.

But what I can do is add a loading bar to the search pages. Better than nothing at least.

[2019-03-06 22:02] zsloan commented on #231
This feature was added a long time ago!

[2019-03-06 22:02] #231 closed

[2019-03-06 22:19] zsloan commented on #186
For some reason permutations weren't set at 200 when I checked just now, but I changed them so this issue should be okay now.

[2019-03-06 22:19] #186 closed

[2019-03-07 17:47] zsloan commented on #233
So it seems that this issue was caused by NaN's messing up the sort. I changed the logic to ignore results with NaN for sample_r, and this fixed the issue.

[2019-03-07 17:47] #233 closed

[2019-03-07 17:49] zsloan commented on #187
Since the genofiles have already been moved to a new directory outside of the git repository, I think this issue can be closed.

[2019-03-07 18:07] zsloan commented on #194
At some point someone (probably Danny?) made the CTL results use the cytoscape JS library, so this has been done.

[2019-03-07 18:07] #194 closed

[2019-03-07 18:09] zsloan commented on #157
I'm guessing this issue has been addressed? Been a couple years and there haven't been any issues with R/qtl.

[2019-03-07 19:50] zsloan commented on #98
I fixed this by just disabling the default behavior for pressing enter. It still submits the search, but doesn't go to a newline before doing so anymore.

[2019-03-07 19:50] #98 closed

[2019-03-07 19:59] zsloan commented on #109
This is long out-dated since the scatterplots are now drawn completely differently than they were in August 2015. They also now have an export feature.

[2019-03-07 19:59] #109 closed

[2019-03-07 20:01] zsloan commented on #92
This old issue was apparently never fixed - GO search returns fewer results in GN2 than in GN1. I need to look at the GN1 logic and see what is different.

[2019-03-07 20:42] zsloan commented on #91
This issue seems to have been fixed.

[2019-03-07 20:42] #91 closed

[2019-03-07 20:42] zsloan commented on #78
This was completed a long time ago.

[2019-03-07 20:42] #78 closed

[2019-03-07 20:44] zsloan commented on #61
The histogram from GN1 was added to mapping results a while back.

[2019-03-07 20:44] #61 closed

[2019-03-07 21:00] zsloan commented on #5
All instances of Cursor from within the GN2 code are removed, but there exist a couple in maintenance scripts. I'm not sure if this issue is also referring to those. If it isn't it can be closed, but I'll hold off for now.

[2019-03-07 21:04] zsloan commented on #55
This feature was added; warning text appears below the submit button if there's an outlier.

[2019-03-07 21:04] #55 closed

[2019-03-07 22:40] pjotrp commented on #292
Pillow progress on #355!

[2019-03-07 22:46] pjotrp commented on #292
Of the outstanding python3 packages (correct me if I am wrong @fredmanglis):

* pylmm-gn2 - dropped
* python2-htmlgen-gn - still have to migrate to new fork
   There seems to be [[https://github.com/srittau/python-htmlgen][an active fork]] of the project that might be useful, though the might be big API differences. This fork has Python3 support as
    far as I can tell: see https://pypi.python.or

[2019-03-07 23:14] zsloan commented on #331
I changed this again to show both the trait ID and either the abbreviation (for phenotypes) or the symbol for (traits with gene symbols).

Rob can let me know if there's any way he'd rather do this. It's tricky to come up with any universal logic that always gives a good descriptor. I'll close the issue for now since there's nothing additional to do without possibly future input.

[2019-03-07 23:14] #331 closed

[2019-03-07 23:27] zsloan commented on #340
I'm kind of uncertain whether this is a good idea. I'm pretty sure we don't want to continue creating empty collections every time the user logs in, since someone will just end up with a bunch of collections they need to delete. The same interface where they would add to an existing collection asks them to name a new one.

The one change I should make is to create a default *name* for a collection

[2019-03-08 15:03] robwwilliams commented on #331
Thanks Zach,
Will check next week.

On Thu, Mar 7, 2019 at 6:14 PM zsloan <notifications@github.com> wrote:

--
Rob

Robert W. Williams, Ph.D.
Chair: Department of Genetics, Genomics and Informatics
71 S Manassas St, Memphis TN 38163
University of Tennessee Health Science Center
Office 901 448-7050  CELL 901 604 4752
Office: Translational Science Research Building, Room 407
EMAIL: rwilliams@uthsc.

[2019-03-08 15:07] robwwilliams commented on #340
My goal just to minimize user steps. Cleaning up emtpy collection is a
programming issue, not really a user issue.
I love the idea of a default name.

Do you see any issue in just deleting empty collections every week?

On Thu, Mar 7, 2019 at 6:27 PM zsloan <notifications@github.com> wrote:

--
Rob

Robert W. Williams, Ph.D.
Chair: Department of Genetics, Genomics and Informatics
71 S Manassas St,

[2019-03-08 17:36] zsloan opened #359 "Unify header style"
Currently some pages have their headers in bootstrap jumbotron elements, but those don't look that good, so I want to make all headers just "regular" html headers. This has already been done for some pages. I'm creating this issue mostly just to remind myself to do it later.

[2019-03-08 22:25] pjotrp opened #360 "Update htmlgen 2.2.2 code"
Currently GN2 uses htmlgen for some older code (htmlgen is from 1997!). Original docs:
http://soc.if.usp.br/manual/python-htmlgen/html/main.html

A new version exists, but as @fredmanglis points out, it has changed.

@zsloan, we'll ask Fred to make the conversion, but can you check whether code can be stripped that is no longer in use? Please confirm here when you are happy.

[2019-03-11 19:20] zsloan commented on #340
I did this in a way where, when a logged in user goes to add traits to a collection and there's no existing collection, it automatically creates an empty collection called "Default Collection" that appears under the "Add to existing collection" drop-down.

For the time being I didn't create the name from the e-mail/timestamp because there will only ever be one of these collections (since the logic

[2019-03-11 19:38] zsloan commented on #284
I'm looking into this error from a while back, and there doesn't appear to be a dataset corresponding that name. How was this trait accessed?

There *is* a UMUTAffyExon_0209_RMA, and the same link with the _RMA appended to the dataset name works.

[2019-03-11 19:42] zsloan commented on #284
Closing this issue since it no longer seems to exist.

[2019-03-11 19:42] #284 closed

[2019-03-11 19:44] zsloan commented on #269
Going to close this issue since GN2 no longer uses PLINK and this issue is no longer relevant.

[2019-03-11 19:44] #269 closed

[2019-03-11 19:48] zsloan opened #361 "Need to hide mapping option when no/bad genotypes"
Currently there are some data sets which have bad/dummy genotype files. This is usually because the dummy .geno file was converted into a BIMBAM file. GN2 gives the user an informative error telling them the genotype file has problems, but it would probably be ideal to simply hide mapping for traits without proper genotypes.

An example group with this issue is GTEx_v5 - http://gn2-zach.genenetwor

[2019-03-12 16:31] zsloan commented on #347
This is added on my branch. Still need to test, but this should make any sort of zooming or remapping very fast regardless of how long the initial mapping took (tested with BXD Longevity traits which normally take 5+ minutes to run with LOCO, only took a few seconds to zoom in).

[2019-03-13 06:10] fredmanglis commented on #176
@pjotrp I've looked at the definition of genenetwork2 in [guix-bioinformatics](https://gitlab.com/genenetwork/guix-bioinformatics.git) (branch `master`), and it does seem like the `python2-piddle-gn` and `python2-pil1` dependencies are commented out already, meaning they are no longer part of the dependency graph.

I've deleted the commented out sections for cleanliness, but there does not seem to

[2019-03-13 12:38] pjotrp commented on #176
Yes, they have been removed in my branch.

[2019-03-13 12:38] #176 closed

[2019-03-13 12:39] pjotrp commented on #269
Thanks @zsloan for going through these issues!

[2019-03-13 12:40] pjotrp commented on #361
Have we documented how to convert these files somewhere? Also, should we drop the older type files?

[2019-03-13 12:41] pjotrp commented on #340
Would it by an idea to default to some example traits too - something that we can put in our tutorial? That way people can immediately see some interesting mapping/correlations.

[2019-03-13 15:33] zsloan commented on #361
We need both the .geno and BIMBAM files because the .geno are both used by
qtlreaper and used to generate the sample list for the group/inbred set
(this obviously isn't ideal, but it's just one of the things that we'll
need to change before switching to a single genotype file format).

I don't think it's documented anywhere, so I should probably add it to the
readme. The file itself is self-explan

[2019-03-13 15:42] pjotrp commented on #361
We are going to modify qtlreaper anyway. So that would take away the .geno needs, right?

[2019-03-13 17:49] zsloan commented on #361
Still need it for getting the sample list*, and I actually forgot one thing
in my last comment - it's also used when drawing the mapping results. This
Dataset objects (a qtlreaper object) is created and is then used to iterate
through chromosomes or something. But as long as QTL reaper is changed to
take a different format, these things aren't a problem (and the code that
gets the samplelist from

[2019-03-13 17:58] pjotrp commented on #361
Cool. We should probably settle for R/qtl2 formats and have GEMMA use those too. See https://github.com/genetics-statistics/GEMMA/issues/131

[2019-03-13 20:10] zsloan commented on #267
This seems to be working on my branch. Still need to test, though.

[2019-03-13 20:54] zsloan commented on #230
This might be doable for tissue R, but for literature it seems that the Rs are just stored in the database so I don't know how we'd create a plot from that.

[2019-03-14 01:42] robwwilliams commented on #230
You are right. No scatterplot for Lit R

On Wed, Mar 13, 2019 at 3:54 PM zsloan <notifications@github.com> wrote:

--
Rob

Robert W. Williams, Ph.D.
Chair: Department of Genetics, Genomics and Informatics
71 S Manassas St, Memphis TN 38163
University of Tennessee Health Science Center
Office 901 448-7050  CELL 901 604 4752
Office: Translational Science Research Building, Room 407
EMAIL: rwilliams@

[2019-03-14 22:04] zsloan commented on #336
This is related to implementing the PCA traits feature from GN1, which is now partially done. Currently (on my branch) when you do correlation matrix it will calculate the PCA traits and you can view them and add them to a collection from the trait page (not from the correlation matrix page).

There are some issues that need to be addressed regarding how Temp traits are dealt with by various featu

[2019-03-25 18:04] smahaffey opened #362 "GeneNetwork error: reaper: Memory error for MAX_MARKERNAME_SIZE"
I don't think this issue is the same as any open issues.

I just tested the Tabakoff 2009 HXB alcohol consumption dataset (http://gn2.genenetwork.org/show_trait?trait_id=10190&dataset=HXBBXHPublish) for mapping with GEMMA with the defaults.  Interval Mapping works and R/QTL works.

Full Stack trace:
GeneNetwork tux01:gene:2.11-rc2-production-9fbd347f5  http://gn2.genenetwork.org/run_mapping ( 5:50

[2019-03-25 18:51] zsloan commented on #362
This is an issue we're aware of. It's apparently an issue with qtlreaper*, which Pjotr is going to rewrite later. It doesn't happen consistently, so if you get this error you should still be able to view the results if you run the same thing again (might take a couple tries, though).

* qtlreaper is still used when drawing the mapping figure, even if you do mapping with GEMMA or some other method.

[2019-03-25 20:04] smahaffey commented on #362
Sorry for reporting it again.  I did search issues on GitHub and nothing looked quite like this.  Just wanted to let you know.  It did work on the second try.

[2019-03-25 20:23] zsloan commented on #362
Oh, that's no problem. By all means never hesitate to let us know any time
you encounter an error, since a lot of stuff slips through the cracks.

On Mon, Mar 25, 2019 at 3:04 PM Spencer Mahaffey <notifications@github.com>
wrote:

[2019-03-25 22:43] pjotrp commented on #362
qtlreaper is written in C and overwrites memory sometimes. Would be a nice 1-2 week hacking job to fix qtlreaper.

[2019-04-03 21:03] gabrielacorona opened #363 "Phenotype Search GeneNetwork tux01:gene:"
Hello, I was browsing gene network to see how it works and I encountered an error.
I went to search, then selected phenotypes and typed 'human'. I have no  biology knowledge so I don't even know if the search was relevant.
thank you!
Nevertheless, here's the stack trace:

`      GeneNetwork tux01:gene:2.11-rc2-production-91675f055  http://gn2.genenetwork.org/gsearch?type=phenotype&terms=human ( 8:

[2019-04-03 21:21] zsloan commented on #363
Thanks for mentioning this! It seems that a recent change may have caused
an issue with human phenotypes being added to this file that compiles the
list of data sets. I should be able to fix it pretty fast.

On Wed, Apr 3, 2019 at 4:03 PM Gabriela Corona <notifications@github.com>
wrote:

[2019-04-03 21:57] zsloan commented on #363
This issue should be fixed now. This actually helped me find another
related issue, so thanks a lot for bringing it to my attention; a lot of
the time things slip through the cracks where one fix/change causes some
other unexpected issue.

One thing I should probably mention is that the global search is currently
not very sophisticated. If you search "human" it will also pull up some
non-human res

[2019-04-04 02:22] robwwilliams commented on #363
Dear Gabriela,

Thanks very much for forwarding this error.  We will look into this
HSBPublish error.

On Wed, Apr 3, 2019 at 4:03 PM Gabriela Corona <notifications@github.com>
wrote:

--
Rob

Robert W. Williams, Ph.D.
Chair: Department of Genetics, Genomics and Informatics
71 S Manassas St, Memphis TN 38163
University of Tennessee Health Science Center
Office 901 448-7050  CELL 901 604 4752
Offic

[2019-05-01 13:42] pjotrp opened #364 "gene name aliases need updating/fixing"

[2019-05-01 13:46] pjotrp commented on #362
@chfi is rewriting qtlreaper!

[2019-05-01 13:47] pjotrp commented on #360
@zsloan any progress on this? @fredmanglis is starting on the conversion...

[2019-05-01 13:50] pjotrp commented on #363
Can we close this?

[2019-05-01 15:43] zsloan commented on #360
It is only in display_mapping_results.py. There were imports in a few other places which I removed (though currently only on my branch.

[2019-05-01 15:45] zsloan commented on #363
Yes, it is fixed.

[2019-05-01 15:45] #363 closed

[2019-05-03 19:18] squirrelB opened #365 "The SNP browser is not correct"
Hi, I think the variant browser needs looking at. The Mb location and the annotated genes do not match. If you search by gene name, the browser takes you to the correct mm10 location for that gene, but the annotated genes in the browser are different. If you search by mb location, the "gene" column consists of genes that aren't located there.

[2019-05-03 19:39] zsloan commented on #365
I think you're referring to an issue stemming from data being encoded strangely/incorrectly in our database. In the database, there are many SNPs with the domain set as "intergenic" (because "intergenic" was set as the "default" domain value) and someone pointed out that it is strange that you can search for a gene and have a bunch of intergenic results for SNPs within its range. As a result we di

[2019-05-07 20:48] zsloan commented on #365
This issue should be fixed now. It should now check whether any given SNP is actually on a gene and indicate as much in the results.

Thanks again for bringing this to our attention and let me know if you encounter any other issues.

[2019-05-07 23:15] squirrelB commented on #365
Hi Zach. (and this is Beni BTW). It's not fixed. Here's an example of the problem. Go to the SNP browser and search by chr:3, Mb 103 to 104. Click on any of the SNPs... for examples click on SNP with ID wt37-3-103158197 (supposed to be in exon of gene Trim33). In the UCSC Genome browser, mm10, that's in the intron of Dennd2c, a gene upstream of Trim33. So are these coordinates not mm10? Thanks for

[2019-05-08 15:53] zsloan commented on #365
Ohh, I thought you were referring to a separate issue (where searching for
a range instead of a gene causes different results in the Gene column).

I found the result of the issue, and it seems to be an issue in the actual
database. There are separate columns in the DB for the different domains
that list transcripts for the given SNP (like in this case there are
transcripts listed in a "3' UTR" co

[2019-05-08 16:10] zsloan commented on #365
Actually, I think this is a bigger problem. I can correct the gene name, but I think that the domain columns are also wrong and based on an outdated assembly.

It's a really good thing you mentioned this, because it makes updating (and likely changing the structure of) this table is a higher priority.

[2019-05-08 19:37] pjotrp commented on #360
@fredmanglis can you take a look?

[2019-05-08 20:16] zsloan commented on #360
Minor thing, but the removed imports in other files aren't just on my branch now; I pushed them with another fix earlier this week (I think the one Rob was talking about with changing the index page).

[2019-05-15 16:06] pjotrp commented on #360
ping @fredmanglis

[2019-05-15 18:54] fredmanglis commented on #360
@pjotrp pong

On Wed, 15 May 2019, 19:06 Pjotr Prins, <notifications@github.com> wrote:

[2019-05-15 18:57] fredmanglis commented on #360
@pjotrp Seems I missed the notification on this. I will look at it this week, and get back to you.

[2019-05-31 14:11] fredmanglis commented on #360
@pjotrp @zsloan I got some work done on migrating to the new HTMLGen in branch [360_update_htmlgen](https://github.com/fredmanglis/genenetwork2/tree/360_update_htmlgen) of my fork.

I have created [pull request #366](https://github.com/genenetwork/genenetwork2/pull/366) which you can review.

To test this, you will need the updated definitions in [guix-bioinformatics]() added in commits [888dcd025

[2019-08-22 18:01] Dashbrook opened #367 "Error when attempt to zoom to a chromosome after mapping a PCA trait (GN2)"
When I produced a PCA trait in GN2, I could map fine, but when I selected a particular chromosome I got the following error:

    GeneNetwork tux01:gene:2.11-rc2-production-5c6be7a36  http://gn2.genenetwork.org/run_mapping ( 5:57PM UTC Aug 22, 2019)
       Traceback (most recent call last):
         File "/usr/local/guix-profiles/gn-latest-20181119/lib/python2.7/site-packages/flask/app.py", line 1

[2019-09-17 11:27] echesler opened #368 "Multi-trait heat map failed"
Selected multiple traits from phenotype correlations to Ap3m2 in the hippocampus.
Selected "Heat Map"

    GeneNetwork tux01:gene:2.11-rc2-production-2abbf82b4 http://gn2.genenetwork.org/heatmap (11:25AM UTC Sep 17, 2019)
    reaper: the length of the strain list and the value list are different,
or they are less than 8  (error)
        trait = trimmed_values)
    IndexError: reaper: the length of

[2019-09-17 11:29] echesler commented on #368
One of my traits had missing data, deselecting this trait fixed the problem. Record 20761.

[2019-09-19 13:04] pjotrp commented on #368
@zsloan can you take a look and see if we can avoid the error message? Maybe the new reaper resolves it.

[2019-09-19 13:05] pjotrp commented on #367
@zsloan can you take a look?

[2019-09-19 15:53] zsloan commented on #368
Yeah; this is also a good excuse to go ahead and move heatmap to using the
new reaper regardless of whether that's the cause of the error.

On Thu, Sep 19, 2019 at 8:04 AM Pjotr Prins <notifications@github.com>
wrote:

[2019-09-19 15:55] zsloan commented on #368
Hm, selecting some results from the correlation of this trait against BXD
phenotypes and using heatmap didn't cause the error:
http://gn2-zach.genenetwork.org/show_trait?trait_id=1432125_at&dataset=HC_M2_0606_P

Might need to know the specific trait(s).

On Thu, Sep 19, 2019 at 10:53 AM Zachary Sloan <zachary.a.sloan@gmail.com>
wrote:

[2019-09-20 18:23] chfi commented on #5
Let's treat this as done

[2019-09-20 18:23] #5 closed

[2019-09-20 18:23] #14 closed

[2019-09-20 18:24] chfi commented on #22
If this is still a thing, it should be in the Trello board

[2019-09-20 18:24] #22 closed

[2019-09-20 18:24] #24 closed

[2019-09-20 18:24] #34 closed

[2019-09-20 18:24] #44 closed

[2019-09-20 18:25] #52 closed

[2019-09-20 18:25] #56 closed

[2019-09-20 18:25] #64 closed

[2019-09-20 18:26] chfi commented on #65
Trello if still relevant

[2019-09-20 18:26] #65 closed

[2019-09-20 18:26] #67 closed

[2019-09-20 18:26] #68 closed

[2019-09-20 18:26] #84 closed

[2019-09-20 18:26] #85 closed

[2019-09-20 18:27] chfi commented on #92
@zsloan is this resolved?

[2019-09-20 18:27] #93 closed

[2019-09-20 18:27] #99 closed

[2019-09-20 18:27] zsloan commented on #361
We technically already have a database column (MappingMethodId in InbredSet) that the code uses to decide which mapping methods to show, but it's not always up to date so things slip through the cracks. I'm not sure if it makes more sense to actually directly check the genotype files when running mapping than it does to just keep the content of that table up to date.

All of this should ultimately

[2019-09-20 18:27] #103 closed

[2019-09-20 18:28] #105 closed

[2019-09-20 18:28] #107 closed

[2019-09-20 18:28] #108 closed

[2019-09-20 18:28] #110 closed

[2019-09-20 18:28] #115 closed

[2019-09-20 18:29] #116 closed

[2019-09-20 18:29] #132 closed

[2019-09-20 18:29] zsloan commented on #347
This has been done for a while, closing.

[2019-09-20 18:29] #347 closed

[2019-09-20 18:30] chfi commented on #134
Trello~~

[2019-09-20 18:30] #134 closed

[2019-09-20 18:30] zsloan commented on #359
I think this has been done for most/all of the pages that were bugging Rob. If he mentions any more in the future they can be changed easily, so not much point to leaving this open.

[2019-09-20 18:30] #359 closed

[2019-09-20 18:30] #135 closed

[2019-09-20 18:31] chfi commented on #138
This would actually be cool to get done @pjotrp (but doesn't fit here)

[2019-09-20 18:31] #138 closed

[2019-09-20 18:32] #145 closed

[2019-09-20 18:32] #149 closed

[2019-09-20 18:33] #152 closed

[2019-09-20 18:33] #157 closed

[2019-09-20 18:34] #158 closed

[2019-09-20 18:38] #174 closed

[2019-09-20 18:38] #177 closed

[2019-09-20 18:39] chfi commented on #178
Trello if still relevant @pjotrp

[2019-09-20 18:39] #178 closed

[2019-09-20 18:39] #179 closed

[2019-09-20 18:39] #187 closed

[2019-09-20 18:40] #188 closed

[2019-09-20 18:40] zsloan commented on #365
Moved this to "Later" on the Trello board since it's not exactly a software bug.

[2019-09-20 18:40] #365 closed

[2019-09-20 18:40] #190 closed

[2019-09-20 18:40] #196 closed

[2019-09-20 18:43] #197 closed

[2019-09-20 18:43] #198 closed

[2019-09-20 18:44] #199 closed

[2019-09-20 18:44] #200 closed

[2019-09-20 18:44] #202 closed

[2019-09-20 18:44] #204 closed

[2019-09-20 18:45] #205 closed

[2019-09-20 18:45] #206 closed

[2019-09-20 18:45] #207 closed

[2019-09-20 18:45] #211 closed

[2019-09-20 18:45] #212 closed

[2019-09-20 18:46] #217 closed

[2019-09-20 18:46] chfi commented on #217
This is cool and maybe should go to the Trello @pjotrp

[2019-09-20 18:46] #220 closed

[2019-09-20 18:46] #221 closed

[2019-09-20 18:47] #225 closed

[2019-09-20 18:47] #227 closed

[2019-09-20 18:47] #228 closed

[2019-09-20 18:47] #229 closed

[2019-09-20 18:47] #230 closed

[2019-09-20 18:48] #316 closed

[2019-09-20 18:48] #321 closed

[2019-09-20 18:48] #323 closed

[2019-09-20 18:48] #324 closed

[2019-09-20 18:48] #325 closed

[2019-09-20 18:49] chfi commented on #325
Maybe we should put this in the Trello board, if it's important @zsloan @pjotrp

[2019-09-20 18:49] chfi commented on #327
@pjotrp status on this?

[2019-09-20 18:49] #327 closed

[2019-09-20 18:51] chfi commented on #328
@pjotrp this should probably be automated (do we have IPFS running yet?)

[2019-09-20 18:51] #328 closed

[2019-09-20 18:52] #332 closed

[2019-09-20 18:52] #333 closed

[2019-09-20 18:52] #334 closed

[2019-09-20 18:53] chfi commented on #335
@zsloan should probably go on Trello

[2019-09-20 18:53] #335 closed

[2019-09-20 18:53] #238 closed

[2019-09-20 18:53] #248 closed

[2019-09-20 18:53] #261 closed

[2019-09-20 18:54] #262 closed

[2019-09-20 18:55] chfi commented on #265
@pjotrp What's left? Should be a Trello item.

[2019-09-20 18:55] #265 closed

[2019-09-20 18:55] #267 closed

[2019-09-20 18:55] #268 closed

[2019-09-20 18:58] chfi commented on #271
@pjotrp is this still relevant?

[2019-09-20 18:58] #271 closed

[2019-09-20 19:00] #273 closed

[2019-09-20 19:00] #280 closed

[2019-09-20 19:02] #283 closed

[2019-09-20 19:02] chfi commented on #288
@pjotrp status on this?

[2019-09-20 19:02] #288 closed

[2019-09-20 19:03] #289 closed

[2019-09-20 19:06] #292 closed

[2019-09-20 19:06] #293 closed

[2019-09-20 19:06] #294 closed

[2019-09-20 19:07] #295 closed

[2019-09-20 19:07] #299 closed

[2019-09-20 19:07] #304 closed

[2019-09-20 19:07] #307 closed

[2019-09-20 19:07] #310 closed

[2019-09-20 19:07] #312 closed

[2019-09-20 19:07] #314 closed

[2019-09-20 19:09] chfi commented on #336
@zsloan status on this? If it's still important let's make a Trello item, but if not, let's leave it until it comes up in the future.

[2019-09-20 19:09] #336 closed

[2019-09-20 19:10] #353 closed

[2019-09-20 19:11] #340 closed

[2019-09-20 19:11] #343 closed

[2019-09-20 19:11] #349 closed

[2019-09-20 19:12] #352 closed

[2019-09-20 19:12] chfi commented on #357
@pjotrp @zsloan Status on this? Is it done/irrelevant or should we create a Trello board?

[2019-09-20 19:12] #357 closed

[2019-09-20 19:13] #358 closed

[2019-09-20 19:14] #360 closed

[2019-09-20 19:18] zsloan commented on #336
This is basically done (there might be some feature that still has issues with temp traits, but it's the sort of thing that would be easy to fix if it popped up and works for the major features like mapping/correlations). There's probably a better way to do this, but it functions fine.

[2019-09-20 19:24] zsloan commented on #335
This is more "a thing to consider when doing a full DB redesign" rather than its own bug/problem, and there's not really any risk of it being forgotten (since we re-encounter the consequences of this frequently). So it might be okay to just leave this out entirely, since it's not a clearly defined task.

[2019-09-20 19:42] zsloan commented on #92
Sort of. Basic GO searches were added into GN2 after this issue was posted
in a way that produces results very similar (but not identical) to GN1, but
allowing combined GO searches (so searching for stuff with a specific GO Id
*and* a Max LRS > X, etc) currently won't work correctly.

It's a bit tricky because the GN1 search code is difficult to parse and GO
searches function differently from most

[2019-09-20 19:43] zsloan commented on #22
Yeah, this is also mostly a Rob thing.

On Fri, Sep 20, 2019 at 1:24 PM Christian Fischer <notifications@github.com>
wrote:

[2019-09-23 20:26] dlinsen1 opened #370 "GEMMA_error"
GeneNetwork tux01:gene:2.11-rc2-production-2abbf82b4 http://gn2.genenetwork.org/run_mapping ( 8:24PM UTC Sep 23, 2019)
    invalid literal for int() with base 10: 'X' (error)
      File "/export/local/home/gn2/production/gene/wqflask/base/data_set.py", line 196, in __init__
        marker['chr'] = int(marker['chr'])

[2019-09-23 20:27] dlinsen1 opened #371 "Login_error"
GeneNetwork tux01:gene:2.11-rc2-production-2abbf82b4 http://gn2.genenetwork.org/n/login ( 7:40PM UTC Sep 23, 2019)
    Invalid input of type: 'NoneType'. Convert to a byte, string or number first. (error)
      File "/usr/local/guix-profiles/gn-latest-20190905/lib/python2.7/site-packages/redis/connection.py", line 117, in encode
        "byte, string or number first." % typename)

[2019-09-24 13:25] pjotrp commented on #371
@zsloan this is a known bug!

[2019-09-24 17:26] zsloan commented on #371
I forgot to push the change to production. It is on production now.

[2019-09-24 17:26] #371 closed

[2020-01-29 09:36] karakulahg opened #372 "GeneNetwork error: 404 Not Found: The requested URL was not found on the server."
Hello: When I try to reach the glossary page (http://genenetwork.org/glossary.html), I encounter the following error:

(GeneNetwork error: 404 Not Found: The requested URL was not found on the server. If you entered the URL manually please check your spelling and tr)

    GeneNetwork tux01:gene:2.11-rc2-production-945abccdb http://genenetwork.org/glossary.html ( 9:32AM UTC Jan 29, 2020)
    404 No

[2020-01-29 10:20] robwwilliams commented on #372
Dear Karakulahg,
Thanks. We will get this fixed in next 12 hours. In the meantime, please
check the glossary in one of the “Time Machine”  versions of GeneNetwork
(links on main page: right side)

---------- Forwarded message ---------
From: karakulahg <notifications@github.com>
Date: Wed, Jan 29, 2020 at 12:36 PM
Subject: [genenetwork/genenetwork2] GeneNetwork error: 404 Not Found: The
requested

[2020-02-07 14:53] Sreyosen opened #373 "ERROR 404 while accessing gene network tour page"
Hello,
I tried accessing the genenetwork tour site as I am new to this website. Unfortunately, I encounter an error:
(GeneNetwork error: 404 Not Found: The requested URL was not found on the server. If you entered the URL manually please check your spelling)
(GeneNetwork tux01:gene:2.11-rc2-production-39f68906e http://www.genenetwork.org/tutorial/WebQTLTour/ ( 2:47PM UTC Feb 07, 2020)
    404 Not

[2020-02-07 15:47] zsloan commented on #373
Ah, thanks for mentioning this. We recently changed the url for GN2 to
genenetwork.org so a lot of links needed to be fixed (and missed that one).

On Fri, Feb 7, 2020, 8:53 AM Sreyosen <notifications@github.com> wrote:

[2020-02-07 15:48] robwwilliams commented on #373
Dear Sreyosen,
Sorry, will get this fixed. Also look for papers by Mulligan MK. Zone is a
good review of old version of GeneNetwork in Protocils. There is a PDF of
thos paper in the References section (see header),

On Fri, Feb 7, 2020 at 5:53 PM Sreyosen <notifications@github.com> wrote:

--
Rob

Robert W. Williams, Ph.D.
Chair: Department of Genetics, Genomics and Informatics
University of Tenne

[2020-02-07 17:45] zsloan commented on #373
The link should work now. Since genenetwork.org now points to GN2 and GN2
doesn't have its own tour, that link caused an error, but I made it
redirect to the GN1 link ( gn1.genenetwork.org/tutorial/WebQTLTour/ ).

On Fri, Feb 7, 2020 at 8:53 AM Sreyosen <notifications@github.com> wrote:

[2020-02-08 12:30] Sreyosen commented on #373
Hello Rob,
Thank you very much!
Cheers
Sreyo

Get Outlook for Android<https://aka.ms/ghei36>
________________________________
From: robwwilliams <notifications@github.com>
Sent: Friday, February 7, 2020 4:48:22 PM
To: genenetwork/genenetwork2 <genenetwork2@noreply.github.com>
Cc: Sreyosen <koelsengupta1996@outlook.com>; Author <author@noreply.github.com>
Subject: Re: [genenetwork/genenetwork2] ERR

[2020-02-19 14:43] genesquared opened #374 "correlation error: 'NoneType' object is not iterable"
Dear Developer,

When calculating correlation:

(GeneNetwork error: 'NoneType' object is not iterable)

    GeneNetwork tux01:gene:2.11-rc2-production-283af77a7 http://www.genenetwork.org/corr_compute ( 2:39PM UTC Feb 19, 2020)
    'NoneType' object is not iterable (error)
      File "/export/local/home/gn2/production/gene/wqflask/wqflask/correlation/show_corr_results.py", line 473, in process_sam

[2020-04-07 22:31] tantrev opened #375 "Error when "Searching All" by "Genes/Molecules""
An example is currently live and may be viewed at https://genenetwork.org/gsearch?type=gene&terms=SULT1A1

Short version of error:
`(GeneNetwork error: u'INIA_MacFas_AMG_RMA_0110')

    GeneNetwork tux01:gene:2.11-rc2-HEAD-dce4f524a http://genenetwork.org/gsearch?type=gene&terms=SULT1A1 (10:28PM UTC Apr 07, 2020)
    u'INIA_MacFas_AMG_RMA_0110' (error)
      File "/export/local/home/gn2/production

[2020-04-07 22:49] robwwilliams commented on #375
Dear Zach, Arthur
Global search is broken,

Trevor: Thanks. Will have this fixed.

(GeneNetwork error: u'INIA_MacFas_AMG_RMA_0110')

    GeneNetwork tux01:gene:2.11-rc2-HEAD-dce4f524a
http://genenetwork.org/gsearch?type=gene&terms=grin2b (10:45PM UTC Apr
07, 2020)
    u'INIA_MacFas_AMG_RMA_0110' (error)
      File "/export/local/home/gn2/production/gene/wqflask/base/data_set.py",
line 123, in __ca

[2020-04-07 23:22] zsloan commented on #375
It's fixed now.

Does anyone know if the dataset "INIA_MacFas_AMG_RMA_0110" is new? This
error usually only happens when new datasets are added.

On Tue, Apr 7, 2020 at 5:49 PM robwwilliams <notifications@github.com>
wrote:

[2020-04-07 23:25] tantrev commented on #375
Woohoo!  Not sure about the dataset, but thanks for getting the search back!

[2020-04-07 23:25] #375 closed

[2020-04-16 19:21] squirrelB opened #376 "Trait upload for BXD longevity cohort not working"
Hi, just yesterday I was able to submit traits to the INIA BXD longevity cohort. Today I've getting this error message:
GeneNetwork tux01:gene:2.11-rc2-HEAD-80583f1dd http://genenetwork.org/show_temp_trait ( 7:20PM UTC Apr 16, 2020)
    'NoneType' object has no attribute '__getitem__' (error)
      File "/export/local/home/gn2/production/gene/wqflask/wqflask/show_trait/show_trait.py", line 591, in

[2020-04-21 20:01] squirrelB opened #377 "Rqtl not working; correlations not showing, and export not working"
Hi, quite a few glitches today.

Issue 1: I tried rQTL and that didn't work. But standard Haley-Knott works fine (didn't try Gemma today).
Issue 2: The correlation matrix using a collection of traits worked, but trying to view the scatter plots has been a hit or miss... works one day, and doesn't another day.
Issue 3: since the scatter plots are not showing today, I decided to export the traits fr

[2020-04-21 20:13] robwwilliams commented on #377
So sorry. We do not quite have our act together.
'Hardware problems and upgrades.
I'm trying to track down problems too.

Pjotr, I assume this is on production. I'm mostly testing gn2-zach

On Tue, Apr 21, 2020 at 3:01 PM squirrelB <notifications@github.com> wrote:

--
Rob

Robert W. Williams, Ph.D.
Chair: Department of Genetics, Genomics and Informatics
University of Tennessee Health Science Cent

[2020-05-13 10:02] BonfaceKilz opened #392 "(Bug) Unicode error encoding error on search page"
**Description**

The following error log is displayed when you make a query that looks like: __search?species=mouse&group=BXD&type=Phenotypes&dataset=BXDPublish&search_terms_or=cb&search_terms_and=&FormID=searchResult__

<details>
<summary><i>Click here to see debug info:</i></summary>
<pre>
GeneNetwork susa:genenetwork2:2.11-rc2-use-guix-datatables-extensions-dependency-464ee0ad2 http://localhost

[2020-05-13 15:15] zsloan commented on #392
Ah, I replied to the other email before seeing this! I think this might be
because the GN2 webserver (on production and my branch) is being started
with the following SQL_URI - SQL_URI=mysql://webqtlout:webqtlout@tux01
/db_webqtl?charset=latin1

The "charset=latin1" was added a while back because there was an issue
where the text in the DB was encoded latin1 and using utf-8 encoding caused
some se

[2020-05-14 12:57] BonfaceKilz commented on #392
Thanks! Let me try that out :smile:

[2020-05-21 11:24] BonfaceKilz opened #395 "Bug(Visual): Search results for SNP looks weird"
#### Description

After an update using the latest datatables from GUIX from #394 , the genotype search results for GN2 look off.

Here's how it looked like in the past:
<img width="446" alt="Screen Shot 2020-05-20 at 10 01 10 PM" src="https://user-images.githubusercontent.com/11820306/82554424-8e0ac600-9b6e-11ea-9a50-f53506eb44a5.png">

Here's how it looks like now:
<img width="1321" alt="Screen

[2020-05-21 11:25] BonfaceKilz commented on #395
I'm working on this.

[2020-05-21 11:48] pjotrp commented on #395
Bootstrap may play a role. I am not sure if we changed versions by accident. @robwwilliams what is the last time GN2 datatables looked good? Approximately. May help nail things down. Was it  a week ago, or months ago?

[2020-05-21 11:50] pjotrp commented on #395
@zsloan we also can use your help here. Any changes you are aware of?

[2020-05-21 12:41] robwwilliams commented on #395
@Bonface, @Pjotr, @Zach,
I may be that the output of a G*enotype* search *Search Results* using
DataTables was never optimized.
Do NOT see problems with DataTables this morning. What set me off last
night was just a momentary glitch when results were not forthcoming for new
HS rat genotypes (100-200K genotype) using a specific search.
[image: Screen Shot 2020-05-21 at 7.32.59 AM.png]
*But while we

[2020-05-21 13:38] pjotrp commented on #395
@robwwilliams let's make sure the info is focused on one issue. This is about the datatable L&F.

[2020-05-21 17:22] zsloan commented on #395
I believe this applies to all searches on the main search page (seemingly
not global search). They all seem to max the table width to the screen
width.

On Thu, May 21, 2020 at 8:39 AM Pjotr Prins <notifications@github.com>
wrote:

[2020-05-21 17:25] zsloan commented on #395
Explicitly setting width for all columns might fix the issue; it seems like
it's just stretching out the ones where it's not explicitly set (for
example for phenotype searches, I think every column but Year and Max LRS
has its column width set in pixels, and those are the only columns that are
overly wide).

On Thu, May 21, 2020 at 12:22 PM Zachary Sloan <zachary.a.sloan@gmail.com>
wrote:

[2020-05-21 17:32] zsloan commented on #395
It's always just an option to set a max width; it seems like the behavior
with no width set just changed.

On Thu, May 21, 2020 at 12:25 PM Zachary Sloan <zachary.a.sloan@gmail.com>
wrote:

[2020-05-21 19:18] pjotrp commented on #395
Fixing width for table or cells worries me because it is always optimized for a certain screen size. Can't we do better?

[2020-05-21 20:11] pjotrp commented on #395
Let's discuss tomorrow

[2020-05-21 23:14] BonfaceKilz commented on #395
The CSS dataTables files were edited. The edits will be broken into a separate CSS file and this should hopefully fix things.

[2020-05-22 01:10] zsloan commented on #395
Yeah - that was completely my fault from when I was flailing around a few
years ago (I think the specific thing I didn't realize at the time is that
style elements override each other in order of how specific the selector
is).

I think at some point a lot of the style elements (not just the DataTables
stuff) need to be separated out of the templates and organized into
stylesheets. Currently there'

[2020-05-23 16:09] BonfaceKilz opened #396 "Chore(javascript/css): Remove google CDNs and analytics"
#### Description

Doing `grep -r google` gets:

<details>
<summary>
Click to see output
</summary>
<pre>
Binary file webtests/chromedriver matches
wqflask/wqflask/templates/new_security/login_user.html:
wqflask/wqflask/templates/new_security/verification_still_needed.html:
wqflask/wqflask/templates/new_security/forgot_password.html:
wqflask/wqflask/templates/new_security/password_reset.html:
wqfla

[2020-05-24 16:25] pjotrp commented on #396
Yes!

[2020-06-05 08:56] BonfaceKilz opened #397 "Bug: Cannot delete a collection from inside a collection"
#### Description

Once you are inside a collection, you can't delete the collection. Below is the full stack trace:

<details>
<summary>Click to toggle full stack trace</summary>
<pre>
  GeneNetwork penguin2:genenetwork2:2.11-rc2-use-guix-datatables-extensions-dependency-e0454d8a2  http://gn2-test2.genenetwork.org/export_traits_csv (10:50PM UTC Jun 04, 2020)
       Traceback (most recent call last

[2020-06-05 09:02] BonfaceKilz commented on #392
Also noticed the same issue yesterday on gn2 prod with the following search params: **search?species=mouse&group=BXD&type=Hippocampus+mRNA&dataset=HC_M2_0606_P&search_terms_or=*&search_terms_and=&FormID=searchResult**. Here's the full stack trace:

<details>
<summary>Click to toggle full stack trace</summary>
<pre>
  GeneNetwork tux01:gene:2.11-rc2-HEAD-153f48e64  http://gn2.genenetwork.org/search

[2020-06-09 09:24] BonfaceKilz opened #398 "Build: Migrate from Python2 to Python3"
#### Description

Right now GN2 is running on Python2; We need to migrate it to Python 3 (preferrably 3.6 because that's the default Python in Ubuntu LTS and related distro's). For E2E, improve Mechanical Rob, and work with @zsloan and @BonfaceKilz to iron tests out.

[2020-06-09 09:26] BonfaceKilz opened #399 "Bug: Unable to open new tab for mapping/ correlations with Chrome"
#### Description

Based off #394. I'd need to spec this further later

[2020-06-11 17:26] BonfaceKilz opened #400 "Feature: Integrate Feed Analyser"
#### Description

Integrate [feed analyzer](https://github.com/BonfaceKilz/feedanalyser/) to gn2(this will replace [Twitter-Post-Fetcher](https://github.com/jasonmayes/Twitter-Post-Fetcher)). The problem with  [Twitter-Post-Fetcher](https://github.com/jasonmayes/Twitter-Post-Fetcher) right now is:
- You can't fetch hashtags as explained [here](https://github.com/jasonmayes/Twitter-Post-Fetcher/iss

[2020-06-11 17:32] BonfaceKilz commented on #400
FYI you can follow the dev work on this branch: https://github.com/BonfaceKilz/feedanalyser/tree/feature/replace-twitter-post-fetcher-with-twint

[2020-06-11 17:45] robwwilliams commented on #400
Cool. Time for some of us to tweet our little hearts out.

On Thu, Jun 11, 2020 at 12:26 PM BonfaceKilz <notifications@github.com>
wrote:

--
Rob

Robert W. Williams, Ph.D.
Chair: Department of Genetics, Genomics and Informatics
University of Tennessee Health Science Center
71 S Manassas St, Memphis TN 38103-3310,  TSRB Room 405
Tele/Cell: 901 604 4752
EMAIL: rwilliams@uthsc.edu  or  labwilliams@g

[2020-06-11 17:47] robwwilliams commented on #400
Getting a 404 error (11Jun2020: 12:46 PM CST)

On Thu, Jun 11, 2020 at 12:32 PM BonfaceKilz <notifications@github.com>
wrote:

--
Rob

Robert W. Williams, Ph.D.
Chair: Department of Genetics, Genomics and Informatics
University of Tennessee Health Science Center
71 S Manassas St, Memphis TN 38103-3310,  TSRB Room 405
Tele/Cell: 901 604 4752
EMAIL: rwilliams@uthsc.edu  or  labwilliams@gmail.com

[2020-06-11 19:24] BonfaceKilz commented on #400
I updated the link. But you can check it out here: https://github.com/BonfaceKilz/feedanalyser/tree/feature/replace-twitter-post-fetcher-with-twint. I want to aim to wrap that up by tomorrow, and then jump on the migrations :smile: . I hope you can view the link now

[2020-06-11 20:11] robwwilliams commented on #400
Thanks. Got it.

On Thu, Jun 11, 2020 at 2:24 PM BonfaceKilz <notifications@github.com>
wrote:

--
Rob

Robert W. Williams, Ph.D.
Chair: Department of Genetics, Genomics and Informatics
University of Tennessee Health Science Center
71 S Manassas St, Memphis TN 38103-3310,  TSRB Room 405
Tele/Cell: 901 604 4752
EMAIL: rwilliams@uthsc.edu  or  labwilliams@gmail.com

[2020-06-15 21:37] BonfaceKilz commented on #400
Done with the feeds: https://github.com/BonfaceKilz/feedanalyser/pull/11; Now what's really remaining is setting up the demo; and perhaps figuring out how to package that into guix.

[2020-06-16 05:58] robwwilliams commented on #400
Bonface: let me know what kind of demo. Will help if competent.

On Mon, Jun 15, 2020 at 4:38 PM BonfaceKilz <notifications@github.com>
wrote:

--
Rob

Robert W. Williams, Ph.D.
Chair: Department of Genetics, Genomics and Informatics
University of Tennessee Health Science Center
71 S Manassas St, Memphis TN 38103-3310,  TSRB Room 405
Tele/Cell: 901 604 4752
EMAIL: rwilliams@uthsc.edu  or  labwilli

[2020-06-16 09:36] BonfaceKilz commented on #400
Thanks! So I'll just present you a polling page with tweets; and then
the top ten tweets with the highest "scores" will be displayed on gn2.
If no votes are cast, the 10 most recent tweets will be displayed :)

I'll let you know once I set that up
--
Bonface M. K.
One Divine Emacs To Rule Them All
https://www.bonfacemunyoki.com

[2020-06-16 18:44] BonfaceKilz commented on #400
Here's the polling page: http://gn2-test1.genenetwork.org/ and here are the tweets displayed on the homepage: http://gn2-test2.genenetwork.org/. @robwwilliams Wdyt?

[2020-06-16 18:51] robwwilliams commented on #400
Thank Bonface. I think we need some non-COVID tweets. I guess I have to
learn how to use Twitter better. Pjotr, can I add tweets for GN directly?
Sorry to be so stupid about this.

On Tue, Jun 16, 2020 at 1:44 PM BonfaceKilz <notifications@github.com>
wrote:

--
Rob

Robert W. Williams, Ph.D.
Chair: Department of Genetics, Genomics and Informatics
University of Tennessee Health Science Center
71 S

[2020-06-16 21:10] robwwilliams commented on #400
Cool and a bit scary. We really want to be sure that these tweets are not
political or social or silly. Like to ensure some science and biology. Need
an NLP step to filter.

On Tue, Jun 16, 2020 at 4:36 AM BonfaceKilz <notifications@github.com>
wrote:

--
Rob

Robert W. Williams, Ph.D.
Chair: Department of Genetics, Genomics and Informatics
University of Tennessee Health Science Center
71 S Manass

[2020-06-16 21:36] squirrelB opened #402 "QTL mapping issues: QTLs have changed location"
Hi all. Beni here. Took a little break from GN for a few weeks, and now I'm back! Apologies that I'm already sending "issues"!
Unfortunately,  I've run into a couple of problem with the BXD NIA Longevity group.

1) QTL mapping function is not working for temporary traits that are submitted from the trait submission page. It seems to work fine for traits that are already in GN2.

2) And here's the

[2020-06-16 21:36] BonfaceKilz commented on #400
robwwilliams <notifications@github.com> writes:

Yeah. This makes sense and very understandable. For starters, I'd
suggest we tweet from the @GeneNetwork2 twitter a/c(and other a/c's that
are apolitical) as I figure out how to add the NLP step. For now I'd
suggest we read feeds from that a/c, and in the meantime focus more on
the py2 -> py3 migration while reading up on NLP techniques. Wdyt?

--
B

[2020-06-16 22:07] zsloan commented on #402
Ahh, the red/blue thing is unrelated to additive effect. They're supposed
to be alternating by chromosome just for aesthetic reasons, but there's
some issue with that group (I think it's just that group) that is making
them alternate for every marker instead of by chromosome. It might be the
same as whatever issue is making the mapping results different; I'll take a
look and see if I can figure ou

[2020-06-16 22:09] zsloan commented on #402
Oh, I see what's going on. The positions are all messed up (the red/blue
are overlapping because it starts drawing each chromosome in the wrong
place). This is likely the reason for both the difference in mapping
results and the red/blue issue. I'll try to fix this tomorrow.

On Tue, Jun 16, 2020 at 5:06 PM Zachary Sloan <zachary.a.sloan@gmail.com>
wrote:

[2020-06-16 22:37] zsloan commented on #402
It's fixed on my branch now (I'll try to move the changes to production
tomorrow, but you can run it on my branch for now).

For example
http://gn2-zach.genenetwork.org/show_trait?trait_id=10005&dataset=BXD-HarvestedPublish

The issue was related to the option for selecting mapping scale that was
added a while back (it was wrongly thinking that it was supposed to the
centimorgans, causing the mark

[2020-06-16 22:45] BonfaceKilz commented on #400
Tracking the NLP issue here: https://github.com/BonfaceKilz/feedanalyser/issues/12

[2020-06-17 05:11] robwwilliams commented on #400
For now we need a human filter. The heuristics and NLP should make the
work of the human easy.

This is something I want for myself :)

On Tue, Jun 16, 2020 at 04:09:34PM -0500, Rob Williams wrote:

[2020-06-23 20:49] squirrelB opened #403 "adding co-factor makes the mapping button non-functional"
Hi. Beni again. Sorry to the bearer of another issue. The usual GEMMA is now working fine. But when I add a covariate, the "compute" button for both GEMMA and rQTL now ends up doing nothing. Adding a covariate and mapping was working well back in March/April.

[2020-06-23 22:27] zsloan commented on #403
Thanks for pointing this out. It seems that this was introduced a few days
ago when I was trying to fix an issue where everything was opening two tabs
from the trait page (and the thing I did to fix it seems to have somehow
caused issues with submitting after adding a cofactor for unknown reasons).
After looking into the issue, I found out that apparently the double
submission thing is a Chrome sp

[2020-06-23 23:48] squirrelB commented on #403
Still not working for me on Safari. I'll give it a try tomorrow on a Chrome. It maps fine without a cofactor.

[2020-06-24 00:33] zsloan commented on #403
You might need to clear your cache, because the change was to javascript.

On Tue, Jun 23, 2020 at 6:48 PM squirrelB <notifications@github.com> wrote:

[2020-06-30 13:38] BonfaceKilz commented on #392
https://github.com/genenetwork/genenetwork2/commit/cef130716782cf5c06453705bee7ab6aed1dcce0#commitcomment-40266838

[2020-07-09 21:51] BonfaceKilz commented on #392
After the mysql update, on penguin2, https://github.com/genenetwork/genenetwork2/pull/405 works. Here's the difference in the character sets:

<details>
<summary><b>Character sets on penguin2</b></summary>
<pre>
MariaDB [db_webqtl_s]> show variables like "character_set%";
+--------------------------+----------------------------+
| Variable_name            | Value                      |
| character

[2020-07-13 16:15] BonfaceKilz opened #406 "Suggestion:Fix: Mixed content is not blocked warning from browser"
#### Description

We have to "trust" the site:

![Screenshot_2020-07-13_19-09-39](https://user-images.githubusercontent.com/11820306/87327360-a7ac0680-c53c-11ea-918a-b770c0a24c7a.png)

And then later we have:

<img src="https://user-media-prod-cdn.itsre-sumo.mozilla.net/uploads/gallery/images/2015-10-21-18-54-26-fe01d6.png"/> A gray padlock with an orange or yellow triangle as opposed to <img src=

[2020-07-13 18:17] zsloan commented on #406
Could this have anything to do with it being https but having references to
http in imports, etc?

On Mon, Jul 13, 2020 at 11:16 AM BonfaceKilz <notifications@github.com>
wrote:

[2020-07-13 18:46] BonfaceKilz commented on #406
I'm not really sure whether the certs for the domain gn2 are correct.
This will need more exploration. My idea is to worry about this issue
after the python3 migration; but in the meantime if I come up with any
ideas I'll post them here.

--
Bonface M. K. (https://www.bonfacemunyoki.com)
One Divine Emacs To Rule Them All
GPG key = D4F09EB110177E03C28E2FE1F5BBAE1E0392253F

[2020-07-16 13:48] BonfaceKilz commented on #398
Useful resource: https://docs.python.org/3/howto/pyporting.html

[2020-07-20 14:06] BonfaceKilz commented on #398
When I run python with the following alias:

[code]

and get into the REPL:

[code]

However, from a unittest in **test/unittest/base/test_data_set.py** that looks like:

[code]

the output for `dir(wqflask)` is different. I get:

[code]

Notice the output of `dir(wqflask)`. I'm trying to write some basic unittests.

When I update **test/unittest/base/test_data_set.py** to:

[code]

and run:  **ru

[2020-07-21 20:06] BonfaceKilz opened #408 "Bug: Remove circular imports"
#### Description

We have a bunch of circular imports, which are caught during unittests.

#### Steps to reproduce

1. `cd` into the top-level directory
2. Run: `env GN2_PROFILE=/home/bonface/opt/genenetwork2 TMPDIR=/home/bonface/tmp SERVER_PORT=5004 GENENETWORK_FILES=/home/bonface/gnu/data/gn2_data/ /home/bonface/projects/genenetwork2/bin/genenetwork2 /home/bonface/projects/genenetwork2/etc/defau

[2020-07-21 20:29] zsloan commented on #408
It might be worth asking Pjotr about this if you run into any issues, since
I think he wrote the /bin/genenetwork shell script and most of
utility/tools.py

My guess is that he was having to work around these issues when he added
the -c tag.

On Tue, Jul 21, 2020 at 3:06 PM BonfaceKilz <notifications@github.com>
wrote:

[2020-07-22 15:25] BonfaceKilz commented on #408
Here's a useful link: https://stackabuse.com/python-circular-imports/

[2020-07-22 20:24] BonfaceKilz commented on #408
Found a fix and a crude explanation for what's going on :smile:

So there's need to have: `from wqflask import app`. Here's what happens when you don't have it:

[code]

<details>
<summary><i>Click to toggle stack trace</i></summary>
<pre>
======================================================================
ERROR: tests.base.test_data_set (unittest.loader.ModuleImportFailure)
-------------------

[2020-07-22 20:25] BonfaceKilz commented on #408
Now at this point we can't radically re-structure things so I'm going ahead to close this.

[2020-07-22 20:25] #408 closed, assigned to nobody

[2020-07-22 21:25] zsloan commented on #408
With utilities/tools.py specifically, I don't think it even existed for
early GN2; I think Pjotr may have added it in the process of setting up
GUIX or something (and also changing things that were previously hardcoded
in a config file to instead be pulled from environment variables).

On Wed, Jul 22, 2020, 3:26 PM BonfaceKilz <notifications@github.com> wrote:

[2020-07-22 21:30] robwwilliams commented on #408
Thanks Bonface. Great contributions!

On Wed, Jul 22, 2020 at 3:26 PM BonfaceKilz <notifications@github.com>
wrote:

--
Rob

Robert W. Williams, Ph.D.
Chair: Department of Genetics, Genomics and Informatics
University of Tennessee Health Science Center
71 S Manassas St, Memphis TN 38103-3310,  TSRB Room 405
Tele/Cell: 901 604 4752
EMAIL: rwilliams@uthsc.edu  or  labwilliams@gmail.com

[2020-07-24 21:43] BonfaceKilz opened #410 "Bug: Add function still does not work for markers from Mapping Results"
#### Description

- The Add function still does not work for markers from Mapping Results. And the highlight color is wrong. And the sort does not work correctly. Minor but major in some ways.

<img width="660" alt="Add function broken" src="https://user-images.githubusercontent.com/11820306/88437566-64d91100-ce0f-11ea-8e64-fd24b813fc87.png">

- Lets make the Review and Edit Data table container w

[2020-07-24 21:59] zsloan commented on #410
The first point (adding markers to collections broken in the mapping results page) should be fixed with 60d8968c4fc2ca15fc9cf2f63c0b34a25f6fb053

[2020-07-24 22:13] BonfaceKilz commented on #410
Great. Going ahead to close this. Will re-open if issue persists.

[2020-07-24 22:13] #410 closed, assigned to nobody

[2020-07-24 22:39] robwwilliams commented on #410
Thanks Bonface!

On Fri, Jul 24, 2020 at 4:44 PM BonfaceKilz <notifications@github.com>
wrote:

--
Rob

Robert W. Williams, Ph.D.
Chair: Department of Genetics, Genomics and Informatics
University of Tennessee Health Science Center
71 S Manassas St, Memphis TN 38103-3310,  TSRB Room 405
Tele/Cell: 901 604 4752
EMAIL: rwilliams@uthsc.edu  or  labwilliams@gmail.com

[2020-08-03 14:26] BonfaceKilz opened #416 "Build: Add CI"
#### Description

Add CI to github repository. Right now, you have to run tests manually to confirm a working build. The CI should be able to run Mechanical Rob and existing unittests and show a green when creating or updating a PR. Suggestions for CI tools are:

- Github Action
- Circle CI
- Travis

[2020-08-03 14:27] BonfaceKilz commented on #416
Will work on this once done with https://github.com/genenetwork/genenetwork2/issues/398

[2020-08-04 08:06] pjotrp commented on #416
If you use one that allows for Docker containers we can use Guix to provide those. The dependencies will be hardest for local test running.

[2020-08-04 17:23] zsloan commented on #403
This should be fixed now.

[2020-08-04 17:23] #403 closed, assigned to nobody

[2020-08-04 17:23] #402 closed, assigned to nobody

[2020-08-15 08:03] pjotrp opened #418 "Global search does not close connections properly (and is slow)"
Global search '*' causes loads of aborted connections... I mean

      2020-08-15  2:53:58 140273206434560 [Warning] Aborted connection 45219 to db: 'db_webqtl' user: 'webqtlout' host: '127.0.0.1' (CLOSE_CONNECTION)

generating 6Mb of log file info ...

[2020-08-15 08:19] pjotrp commented on #418
In fact, every row in the table has a SQL query that does not close the connection properly.

[2020-08-18 07:16] pjotrp opened #419 "Slow query"
These queries take 3 minutes and are pretty insane!

[code]

[code]

and just keeps going on. Amazing MariaDB actually manages to do them ;)

[2020-08-18 07:18] pjotrp commented on #419
Probably related to #418

[2020-08-18 11:14] pjotrp opened #420 "Automatically find broken links on GN2"
@Millak found this one:

http://www.genenetwork.org/tutorial/ppt/html/webqtl_demo2_part1.ppt.htm

[code]

[2020-08-18 13:08] Millak opened #421 "GN1 annotation page broken"
http://gn1.genenetwork.org/webqtl/main.py?FormID=annotation

HTTP Status 500 -

type Exception report

message

description The server encountered an internal error () that prevented it from fulfilling this request.

exception

org.apache.jasper.JasperException: org.hibernate.exception.GenericJDBCException: Cannot open connection
	org.apache.jasper.servlet.JspServletWrapper.handleJspException(JspS

[2020-08-18 17:05] zsloan commented on #420
Where exactly is this link? I can't find it. The error implies it's from
GN2 to GN1, but doing a grep of all the GN2 code doesn't turn that link up.

On Tue, Aug 18, 2020 at 6:14 AM Pjotr Prins <notifications@github.com>
wrote:

[2020-08-18 17:12] pjotrp commented on #420
It is probably an nginx forwarder from GN2 to GN1

[2020-08-18 18:06] pjotrp commented on #420
Try http://gn1.genenetwork.org/tutorial/ppt/html/webqtl_demo2_part1.ppt.htm

[2020-08-18 18:07] pjotrp commented on #420
I think gn1 somewhere hard codes genenetwork.org

[2020-08-18 20:04] zsloan commented on #420
I think GN1 hardcodes www.genenetwork.org probably hundreds of times across
various files.

I just went through and fixed a bunch of these instances. The problem is
that I can't exactly do a universal replacement, since some might be
intentionally pointing to www.genenetwork.org as GN2.

On Tue, Aug 18, 2020 at 1:07 PM Pjotr Prins <notifications@github.com>
wrote:

[2020-08-18 20:08] pjotrp commented on #420
Yeah. No one noticed so far, so let's just go by complaint ;)

[2020-08-18 20:09] pjotrp commented on #420
Avoid hard coding is the lesson, I guess.

[2020-08-18 20:23] robwwilliams commented on #420
Worked for me just fine—mainly as a "Time Machine" to 2005.  Links will be
broken since we changed our domain from utmem to uthsc.

On Tue, Aug 18, 2020 at 1:06 PM Pjotr Prins <notifications@github.com>
wrote:

--
Rob

Robert W. Williams, Ph.D.
Chair: Department of Genetics, Genomics and Informatics
University of Tennessee Health Science Center
71 S Manassas St, Memphis TN 38103-3310,  TSRB Room 4

[2020-08-20 02:39] BonfaceKilz commented on #416
I'll create a mirror of this repo on GH that's a detached fork and do all my CI testing there.

[2020-08-23 19:19] BonfaceKilz commented on #398
The methods for `python2-htmlgen` seem to have changed in python3's `python-htmlgen`, so I'm working on updating those.

[2020-08-24 11:27] BonfaceKilz opened #424 "Migrate python2-htmlgen to python-htmlgen"
#### Description

python2-htmlgen is no longer supported. We need to move to python-htmlgen which has an updated API interface

[2020-08-24 11:27] BonfaceKilz commented on #424
@zsloan and @pjotrp I'm working on this.

[2020-08-24 12:40] robwwilliams commented on #424
Ouch: engineering technical debt finally got us. Thanks Bonface.

On Mon, Aug 24, 2020 at 6:27 AM BonfaceKilz <notifications@github.com>
wrote:

--
Rob

Robert W. Williams, Ph.D.
Chair: Department of Genetics, Genomics and Informatics
University of Tennessee Health Science Center
71 S Manassas St, Memphis TN 38103-3310,  TSRB Room 405
Tele/Cell: 901 604 4752
EMAIL: rwilliams@uthsc.edu  or  labwill

[2020-08-24 12:57] pjotrp commented on #424
Nothing really new https://github.com/genenetwork/genenetwork2/issues?q=is%3Aissue+htmlgen

GeneNetwork has a lot of technical debt. Porting to Python3 is the next big one and htmlgen is one (final) step.

[2020-08-24 15:50] zsloan commented on #424
HTMLgen is mostly used in gene/wqflask/wqflask/display_mapping_results.py
(unfortunately in drawing the figure, so hopefully python-htmlgen functions
relatively similarly).

On Mon, Aug 24, 2020 at 7:57 AM Pjotr Prins <notifications@github.com>
wrote:

[2020-09-01 11:23] #396 closed, assigned to nobody

[2020-09-03 19:50] BonfaceKilz opened #435 "[Bug] Cannot add to a collection(md5)"
**Describe the bug**

You can't add to a collection.

**To Reproduce**

- Make a search e.g. http://localhost:5004/search?species=mouse&group=BXD&type=Hippocampus+mRNA&dataset=HC_M2_0606_P&search_terms_or=MEAN%3D(15+16)+LRS%3D(23+46)&search_terms_and=&FormID=searchResult#Stack
- Try adding to a collection
- In the console log, you get:

[code]

**Expected behavior**

You should be able to create a

[2020-09-03 19:51] BonfaceKilz commented on #435
Found the problem! In guix, we are using:
https://github.com/emn178/js-md5/tree/v0.7.3 but from the minified js, I
see we are using:
https://github.com/blueimp/JavaScript-MD5/blob/v2.10.0/js/md5.min.js. So
the fix would involve using the right library in guix.

[2020-09-03 21:33] BonfaceKilz opened #436 "[Bug] Fix 404 on js paths prefixed with "js_alt""
**Describe the bug**

A 404 is returned with files that are prefixed with js_alt. Currently:
- *js_alt/md5.min.js*; and
- *js_alt/underscore.min.js*

Also, the tests in the link checker raise a false positive. In the event that a js/ css file does not exist, we check for a 200 status code. However, on gn2, in such an event, an error page is generated, which has a status code of 200.

**To Reproduc

[2020-09-03 23:37] #435 closed, assigned to BonfaceKilz

[2020-09-03 23:37] #436 closed, assigned to BonfaceKilz

[2020-09-05 08:53] pjotrp opened #438 "[Bug] Reusing phenotype file names"
**Describe the bug**

When rerunning an analysis for a dataset the phenotype file gets overwritten, e.g.

    /export/local/home/gn2/production/tmp/gn2/gn2/21481_BXDPublish_pheno.txt

This can lead to conflicts when people run the exact same dataset on the website.

**Fix**

Use unique filenames!

[2020-09-05 09:06] zsloan commented on #438
Ah, thanks for catching that; most other filenames were randomized but the phenotype one was apparently missed.

[2020-09-09 18:38] BonfaceKilz opened #439 "[Feature] Add search, select and export to datatables table"
## Is your feature request related to a problem? Please describe.

- I need to be able to export a list of genes as a text file or Excel file from the Interval Analyst table (the table when zoomed into an individual chromosome when mapping)
- Sorting on some of the numerical fields is wrong-goofy again (Length, SNP count)
- Highlight color is wrong
- Could this have all of the cool "standard" feat

[2020-09-09 19:37] robwwilliams commented on #439
Love it! I should start doing this too.

On Wed, Sep 9, 2020 at 1:38 PM BonfaceKilz <notifications@github.com> wrote:

--
Rob

Robert W. Williams, Ph.D.
Chair: Department of Genetics, Genomics and Informatics
University of Tennessee Health Science Center
71 S Manassas St, Memphis TN 38103-3310,  TSRB Room 405
Tele/Cell: 901 604 4752
EMAIL: rwilliams@uthsc.edu  or  labwilliams@gmail.com

[2020-09-10 19:32] zsloan commented on #439
This isn't related to this specific table, but something related to a separate sort issue that I finally figured out after some frustration: Apparently setting "deferRender" to "true" conflicts with using both pagination and orderDataType as a column attribute, because it prevents it from pulling all the "values to sort by" from the entire table (and results in an error when the first value on the

[2020-09-15 08:45] BonfaceKilz opened #440 "[Bug] Error message on gn2 proxy"
**Describe the bug**

On the Python3 branch, I'm getting:

[code]

**To Reproduce**

- Switch to the python3 branch: https://github.com/genenetwork/genenetwork2/pull/422
- Run the proxy
- Launch GN2
- Search for any query

**Expected behavior**

Nothing should be displayed from the gn2 proxy

**Screenshots**

N/A

**Environment setup (please complete the following information):**

- OS: ArchLinux

[2020-09-15 08:49] BonfaceKilz commented on #440
Also, on Penguin2 I was getting:

[code]

I'm guessing that's a very recent table(?)

[2020-09-15 09:32] BonfaceKilz opened #441 "[Feature] Capture Data on the BXDs in RDF"
## Is your feature request related to a problem? Please describe.

We aim to capture metadata on the BXDs in RDF which will make querying
metadata fairly trivial. Next to a pangenome, which is a graph on DNA,
we should present metadata in a structured way (a graph on everything
else).

Metadata and pangenomes ought to go hand in hand

## Describe the solution you'd like

For the BXD, let's take th

[2020-09-15 17:14] zsloan commented on #440
Ah, that table (RatSnpPattern) was added semi-recently (like within the
last year or two, which was after the small DB was created). That table's
existence is actually a good example of the sort of issue Pjotr mentioned
(in this case we had a "SnpPattern" table that assumed there would only be
mice data, and ended up having to make a separate one, since adding a new
column to SnpPattern would have

[2020-09-17 02:25] BonfaceKilz commented on #440
This is probably the issue: https://github.com/genenetwork/genenetwork2/pull/422/commits/46443ec8d2cdfd7c60358a889d90a90e4f7daaf4. Note the difference in Python2 and Python3: https://stackoverflow.com/questions/31848293/python3-and-hmac-how-to-handle-string-not-being-binary. I'll look in to that more deeply later today.

[2020-09-18 00:17] BonfaceKilz commented on #416
So I've been able to create a docker container that works. What I've been trying to do is decouple the unittests from the Redis instance.

<details>
<summary><b>Click to see errors</b></summary>
<pre>
======================================================================
ERROR: tests.base.test_trait (unittest.loader.ModuleImportFailure)
-------------------------------------------------------------

[2020-09-18 01:36] zsloan commented on #416
It shouldn't be hard for me to deal with the specific situation you mention, since
there's already some code there for when Redis is empty (which would just
need to also account for when Redis isn't running at all), but I'm less
sure about how to deal with the relationship between Redis and
authentication (other than just barring access to all resources if Redis
isn't running).

On Thu, Sep 17, 20

[2020-09-18 14:44] JasFleet opened #444 "Problem loggin on to Genenetwork2"
I can't get logged into Genenetwork 2.

I'm using Firefox.   When I log in I get the error in the attached screen shot.

![Screenshot 2020-09-18 08 59 04](https://user-images.githubusercontent.com/63613119/93610680-5f292300-f99b-11ea-8bfa-7b9f10addfbe.png)

[2020-09-18 15:45] zsloan commented on #444
I'll take a look at this and will probably be able to fix whatever the
issue is today.

On Fri, Sep 18, 2020, 9:44 AM JasFleet <notifications@github.com> wrote:

[2020-09-18 16:00] JasFleet commented on #444
Thanks!

James C. Fleet PhD
Professor, Department of Nutrition Science
Purdue University
700 West State Street
West Lafayette, IN 47906-2059
(F) 1-765-494-0906
(Lab) 1-765-496-6055
fleet@purdue.edu

From: zsloan <notifications@github.com>
Sent: Friday, September 18, 2020 11:46 AM
To: genenetwork/genenetwork2 <genenetwork2@noreply.github.com>
Cc: Fleet, James C <fleet@purdue.edu>; Author <author@no

[2020-09-21 17:50] zsloan commented on #444
Could you try logging in again and, after getting the error, clicking "Toggle full stack trace" and sending a screenshot of that?

Also, what e-mail are you using to log-in? The issue seems to be specific to your account, so it's probably having an issue with some field.

[2020-09-21 19:11] BonfaceKilz commented on #416
First running CI here: https://github.com/BonfaceKilz/Genenetwork2-Mirror/runs/1145792655?check_suite_focus=true. I'd need to fine tune somethings before adding that here :)

I'll work out how to run Mechanical Rob later...

[2020-09-22 11:28] #416 closed, assigned to nobody

[2020-09-22 21:28] JasFleet commented on #444
Here’s the screenshot.

Since this appears to be a problem with my account, would it be easier to just clear my information and have me start over? I have had the account for a while but I haven’t uploaded much or any data.   I don’t think it would set me back to do this.

Jim

James C. Fleet PhD
Professor, Department of Nutrition Science
Purdue University
700 West State Street
West Lafayette, IN

[2020-09-22 21:42] zsloan commented on #444
Re-creating the account is probably a good idea. There were actually apparently two accounts associated with your e-mail (which isn't possible anymore but would have been possible in the past, though I'm not sure if that's the cause of this issue).

I removed those accounts, so you should be able to create a new account now. Let me know if you still run into a problem after that.

[2020-09-22 22:13] JasFleet commented on #444
Resetting was a good thing….I was able to get in the GeneNetwork2.

Out of curiosity, should the password work on both GN 1 and 2?

Jim

James C. Fleet PhD
Professor, Department of Nutrition Science
Purdue University
700 West State Street
West Lafayette, IN 47906-2059
(F) 1-765-494-0906
(Lab) 1-765-496-6055
fleet@purdue.edu

From: zsloan <notifications@github.com>
Sent: Tuesday, September 22, 2020

[2020-09-22 22:57] zsloan commented on #444
No, they have separate systems for storing users. Entering data into GN1
will still work for GN2 since they share a database, though (adding an
interface for entering data into GN2 is one of the higher priority things
we're planning on doing soon).

The main reasons someone would want to log into GN2 right now are for
controlling access to data resources (or being granted access by a resource
owne

[2020-09-29 00:27] BonfaceKilz commented on #440
I've been able to narrow down the problem. In webqtlConfig.py, we have:

[code]

I've had a look at the proxy code, and I'm guessing that those should be set to only one value. Something like:

[code]

@zsloan or @chfi is that correct?

[2020-09-29 02:47] zsloan commented on #440
I'm pretty sure it should be changed like you mentioned, yeah. My guess is
that this issue didn't show up yet on production or my branch because most
resources had their defaults set already (and that script sets them like
you mention). I'm guessing this issue is probably occurring when it sets
the resource's default privileges and then the proxy encounters that.

On Mon, Sep 28, 2020 at 7:27 PM B

[2020-09-29 19:05] emilyjyao opened #447 "[Bug] Phenotype record info becomes NA when added to collection"
**Describe the bug**
When I search within the BXD Published Phenotypes dataset, everything works correctly and all of the records have all the column information correctly filled out. However, when I try to add these phenotype records to a collection, the location information disappears and many rows have N/A in the Additive Effect column. (see below for screenshots). Thus I am not able to generat

[2020-09-29 19:15] robwwilliams commented on #447
Thanks Emily. We will fix.

On Tue, Sep 29, 2020 at 2:06 PM emilyjyao <notifications@github.com> wrote:

--
Rob

Robert W. Williams, Ph.D.
Chair: Department of Genetics, Genomics and Informatics
University of Tennessee Health Science Center
71 S Manassas St, Memphis TN 38103-3310,  TSRB Room 405
Tele/Cell: 901 604 4752
EMAIL: rwilliams@uthsc.edu  or  labwilliams@gmail.com

[2020-09-29 19:28] zsloan commented on #447
Thanks for pointing this out - the issue ended up being that the template
checks if casting the additive effect to a float returns "> 0" (which
excluded all additive effects below 0). Apparently it's supposed to just be
"!= 0" (where the template language returns 0 if it can't be cast to a
float).

I'll go ahead and make the fix today, but in the meanwhile it's probably
worth mentioning that there

[2020-09-30 10:11] BonfaceKilz commented on #440
Going ahead to close this since we can explain the above error message.

[2020-09-30 10:11] #440 closed, assigned to BonfaceKilz

[2020-09-30 15:11] emilyjyao commented on #447
Thanks, the additive effect bug is fixed! However, I am still getting this error page when I try to create a correlation matrix:
![image](https://user-images.githubusercontent.com/72101759/94704108-912c7480-030d-11eb-899f-8b35e3418157.png)

I thought it was because of the N/As in the additive effect column but maybe not? Do you know what might be causing this?

[2020-10-02 18:47] emilyjyao opened #451 "[Bug] inf/NaN error when trying to create PheQTL-eQTL correlation matrix"
**Describe the bug**
When I try to create a correlation matrix with both BXD phenotype and eQTL records, it gives me an error page saying  "GeneNetwork error: Array must not contain infs or NaNs". I think it's something wrong with the phenotype records because it works when I try to do it with only the eQTL records, but it doesn't work when I only try to do it with the phenotype records.

**To Rep

[2020-10-02 19:09] zsloan commented on #451
Give it a try now; I pushed a change that should fix the error.

This error was caused by there being at least one trait that shares fewer
than 2 samples with another trait. There's still a remaining issue that the
PCA traits don't work if this is the case (due to the existence of said
trait/traits without enough shared samples), so I'll probably have to add
something that omits those later. But t

[2020-10-02 19:19] emilyjyao commented on #451
It works now thank you!!

[2020-10-02 19:19] #451 closed, assigned to nobody

[2020-10-02 19:19] #447 closed, assigned to nobody

[2020-10-12 22:39] BonfaceKilz commented on #444
This seems to be resolved so I'm going ahead to close this.

[2020-10-12 22:40] #444 closed, assigned to zsloan

[2020-10-26 22:18] #398 closed, assigned to nobody

[2020-10-26 22:18] #424 closed, assigned to BonfaceKilz

[2020-10-27 01:41] BonfaceKilz commented on #392
Fixed. See: https://github.com/genenetwork/genenetwork2/pull/405

[2020-10-27 01:41] #392 closed, assigned to nobody

[2020-10-30 14:24] pjotrp commented on #406
How are we on this issue? Certificates should be fine.

[2020-10-30 14:24] pjotrp commented on #370
Aged.

[2020-10-30 14:24] #370 closed

[2020-10-30 14:24] pjotrp commented on #362
Fixed.

[2020-10-30 14:24] #362 closed

[2020-10-30 14:25] #373 closed

[2020-10-30 14:26] pjotrp commented on #372
@robwwilliams @BonfaceKilz will create a new stub on github to create the new page for GN2.

[2020-10-31 10:03] BonfaceKilz commented on #406
Yeah. We have this fixed. I reckon the moving js/ css libs to guix resolved this. Now it's safe to redirect http traffic to https. Since this is no longer an issue, I'm going ahead to close it.

[2020-10-31 10:03] #406 closed, assigned to nobody

[2020-11-11 18:37] #372 closed

[2020-11-20 08:13] pjotrp opened #487 "Remove all Javascript from source tree that is not original"
**Describe the bug**

These files should be moved to Guix or Removed:

https://github.com/genenetwork/genenetwork2/tree/testing/wqflask/wqflask/static/new/js_external

[2020-12-07 17:37] squirrelB opened #507 "Some more issues with correlation"
Hi,
Beni again.
About the correlation result: downloading results is now resolved. Thanks

But couple of issues I noted. First, the "sample r" used to be linked and clicking that opened a scatterplot. That's gone.

Another issue is related to the way the results are presented. To replicate this issue, try this (I'm working with the "BXD NIA Longevity Study" cohort, but this case is also seen with

[2020-12-07 18:13] zsloan commented on #507
Ah, those shouldn't be too hard to fix (probably in the next couple hours).

On Mon, Dec 7, 2020, 11:37 AM squirrelB <notifications@github.com> wrote:

[2020-12-07 20:27] zsloan commented on #507
I just pushed changes. The issue with the sort is that it wasn't sorting
using scientific notation, and the scatterplot link just wasn't reproduced
when the table was redone (but wasn't hard to add back in).

On Mon, Dec 7, 2020 at 12:12 PM Zachary Sloan <zachary.a.sloan@gmail.com>
wrote:

[2020-12-15 14:20] pjotrp opened #532 "Adding gemma additive effect (beta)"
@zsloan Gemma computes `Beta` which is an estimate of the additive effect.  The `se` of `Beta` is a function of MAF of the SNP. So if you want to present Beta as the SNP additive effect for a standardized genotype, then you want to use `Beta/se`; otherwise, `Beta` is the SNP additive effect for the original, unstandardized genotype. With `-lmm2` switch `beta` does not get computed, so I added new

[2020-12-15 14:27] robwwilliams commented on #532
Great. We have not yet shown the error term for the additive effect (beta),
and may not be needed by most users. But would be cool to print the MAF of
each SNP in the Mapping Results, along with the N of individuals with
genotypes.

On Tue, Dec 15, 2020 at 8:21 AM Pjotr Prins <notifications@github.com>
wrote:

--
Rob

Robert W. Williams, Ph.D.
Chair: Department of Genetics, Genomics and Informatic

[2020-12-15 14:39] pjotrp commented on #532
The `af` column is there aleady.  @robwwilliams what do you exactly mean by N? Since gemma does not handle missing genotypes we already know how many individuals are included.

[code]

[2020-12-15 14:41] pjotrp commented on #532
Actually, that is not completely true. Missing genotypes it plugs in the average. But that will be rare with our data. Right?

[2020-12-15 15:17] robwwilliams commented on #532
Rare with BXDs and other reference panels. Common though in HS and in our
huge 4-way cross for longevity where much of the genotyping done by
sequencing amplicons. Was a noisy process.

On Tue, Dec 15, 2020 at 8:41 AM Pjotr Prins <notifications@github.com>
wrote:

--
Rob

Robert W. Williams, Ph.D.
Chair: Department of Genetics, Genomics and Informatics
University of Tennessee Health Science Center

[2020-12-15 15:45] pjotrp commented on #532
Well, let's see how this pans out first.

[2021-01-30 20:43] rupertoverall opened #550 "Export of trait data returns 405"
When trying to export data for a trait (as either Excel or CSV), a 405 exception is being returned.
[code]

Full stack trace:
[code]

[2021-01-31 08:04] pjotrp commented on #550
Hi @rupertoverall. Please use the GN2 API described [here](https://github.com/genenetwork/genenetwork2/blob/testing/doc/API_readme.md). If functionality is missing we can add that. The code is at https://github.com/genenetwork/genenetwork2/tree/testing/wqflask/wqflask/api

[2021-01-31 08:05] pjotrp commented on #550
Of course the bug should be fixed @zsloan.

[2021-01-31 08:07] #532 closed, assigned to zsloan

[2021-01-31 08:08] pjotrp commented on #377
@zsloan can we close this?

[2021-01-31 08:09] pjotrp commented on #487
ping

[2021-01-31 08:23] zsloan commented on #377
Yeah this is fixed.

On Sun, Jan 31, 2021 at 2:08 AM Pjotr Prins <notifications@github.com>
wrote:

[2021-01-31 09:22] pjotrp commented on #550
@zsloan maybe we should use the REST API to serve these files anyway.

[2021-01-31 10:34] rupertoverall commented on #550
Great! I did not know the API had become so advanced.
One question: how are the sample data files prepared for download? I am hitting some timeout issues on larger array datasets and warning messages suggest I am not always retrieving files of the reported size. Do you generate temporary files; so that the option to retrieve a checksum might be added?

[2021-01-31 10:51] pjotrp commented on #550
Do you mind adding an example we can reproduce?

A checksum as metadata is a good idea. @zsloan can you look into this?

[2021-01-31 12:31] rupertoverall commented on #550
I am using R for analysis.
In a fresh vanilla R session, the following code times out.
[code]

  cannot read from connection
In addition: Warning message:
In scan(file = file, what = what, sep = sep, quote = quote, dec = dec,  :
  URL 'http://genenetwork.org/api/v_pre1/sample_data/UTHSC_ILM_BXD_hipp_NOSb_0217': Timeout of 60 seconds was reached

Using the more robust `download.file` command to gra

[2021-01-31 13:37] pjotrp commented on #550
I think that is an R thing. Try the url with curl or wget.

[2021-01-31 14:44] robwwilliams commented on #550
Love Rupert's question. We need more users like you!

On Sun, Jan 31, 2021 at 4:34 AM rupertoverall <notifications@github.com>
wrote:

--
Rob

Robert W. Williams, Ph.D.
Chair: Department of Genetics, Genomics and Informatics
University of Tennessee Health Science Center
71 S Manassas St, Memphis TN 38103-3310,  TSRB Room 405
Tele/Cell: 901 604 4752
EMAIL: rwilliams@uthsc.edu  or  labwilliams@gmail

[2021-01-31 15:47] rupertoverall commented on #550
The `download.file` function does in all fairness return an error in this case and I can (will) wrap the call in try-catch, so the checksum is not mission critical. (The function also uses libcurl on my system, so the partial file issue is, I believe, a behaviour of the wrapper function).
It was just that hitting this error triggered me to think of a checksum that would offer an extra layer of pro

[2021-01-31 17:10] BonfaceKilz commented on #487
Pjotr Prins <notifications@github.com> writes:

Pong. Catching up to e-mails(and videos) now.

Everything should be removed now. I've just merged
the zxvbn and bootstrap stuff.

--
Bonface M. K. D4F09EB110177E03C28E2FE1F5BBAE1E0392253F
Humble GNU Emacs User / Bearer of scheme-y parens
Curator: <https://upbookclub.com> / Twitter: @BonfaceKilz

[2021-02-01 07:47] pjotrp opened #551 "Capture state of phenotypes in a HASH"
To represent the state of the database we need to start using HASH values or UUIDs. For phenotypes we should create these for phenotype columns within a dataset - i.e. the column one uses for mapping. @zsloan this is metadata and I suggest we use RDF so we can have a historic view of changes in datasets. A change can be described as table - mapped to RDF:

[code]

The hash can be computed over dat

[2021-02-01 07:48] pjotrp commented on #550
According to http://web.mit.edu/r/current/lib/R/library/utils/html/download.file.html

The timeout for many parts of the transfer can be set by the option timeout which defaults to 60 seconds.

For REST a broken response will result in an error, so the library call is safe. I do think, however, that a checksum/HASH is a good idea but it should be part of the metadata representing the 'state' of th

[2021-02-01 07:48] #550 closed, assigned to zsloan

[2021-02-01 07:50] #377 closed

[2021-02-01 07:52] pjotrp commented on #438
Can we close this?

[2021-02-01 07:54] pjotrp commented on #420
I am changing this issue for finding broken links automatically. @BonfaceKilz can our test system check for broken links on some of the important pages (front page, mapping pages first)?

[2021-02-01 07:55] #92 closed

[2021-02-01 07:56] #361 closed

[2021-02-01 07:56] #364 closed

[2021-02-01 07:57] #376 closed

[2021-02-01 09:32] BonfaceKilz commented on #420
Pjotr Prins <notifications@github.com> writes:

Yeah it(specifically Mechanically Rob) can. We
could extend CI to do that by running gn2 as a
background process, then scraping links from that
page and pinging them from 4XX. It'd be moving
things from MR to our CI which is manageable. Ping
@alex, you think you can pick that up in addition
to what you already have?

--
Bonface M. K. D4F09EB110177E03

[2021-02-01 09:33] BonfaceKilz commented on #438
Ping @zsloan; but the api I'm working with should resolve this to some extent...

[2021-02-01 09:42] Alexanderlacuna commented on #420
@BonfaceKilz  I think I can pick that.

[2021-02-01 14:26] zsloan commented on #438
I'll check about this today. It's possible I forgot to do this, but it
wouldn't be difficult at all to do, so it'll be done either way today.

On Mon, Feb 1, 2021, 3:33 AM BonfaceKilz <notifications@github.com> wrote:

[2021-02-01 17:07] BonfaceKilz commented on #438
zsloan <notifications@github.com> writes:

Thanks!

--
Bonface M. K. D4F09EB110177E03C28E2FE1F5BBAE1E0392253F
Humble GNU Emacs User / Bearer of scheme-y parens
Curator: <https://upbookclub.com> / Twitter: @BonfaceKilz

[2021-02-01 17:48] zsloan commented on #438
This should be fixed now with https://github.com/genenetwork/genenetwork2/commit/4bd2a3ac8ee7efba0bfb134a3dc9e12b695e15d6

[2021-02-01 17:48] #438 closed, assigned to zsloan

[2021-02-01 17:58] zsloan commented on #550
This issue was actually not fixed, but I just fixed it now with https://github.com/genenetwork/genenetwork2/commit/f5ffb1ad224b14b277847f62d14a90b15f261e4a

[2021-03-01 12:22] rupertoverall opened #559 "[Bug] Adding principal component to collection returns an error"
**Describe the bug**
When calcuating principal components from a correlation matrix, attempting to add one or more PCs to the collection returns the following error:
[code]

**To Reproduce**
Add transcript traits to a collection.
Calculate the correlation matrix.
Select One or more principal components.
Click 'Add' to add this to the collection.
NOTE: This was done with the 'BXD Aged hippocampus i

[2021-03-02 08:26] pjotrp commented on #420
How are we on URLs? I notice bnw is still broken on production (@zsloan).

[2021-03-02 08:59] zsloan commented on #420
I'll take a look through my e-mails, because I think there may have been
some change to the URL used by BNW at some point.

On Tue, Mar 2, 2021 at 2:26 AM Pjotr Prins <notifications@github.com> wrote:

[2021-03-02 09:33] pjotrp commented on #420
The link resolves to https://bnw.genenetwork.org/sourcecodes/home.php

On Tue, Mar 02, 2021 at 12:59:53AM -0800, zsloan wrote:

[2021-03-03 14:34] enetz opened #560 "[Bug] exporting Trait Data in csv or Excel file returns error"
**Describe the bug**
I wanted to download the coat color data for BXD mice from the dataset BXD_11280
(http://gn2.genenetwork.org/show_trait?trait_id=11280&dataset=BXDPublish)

but the export button doesn't work

**To Reproduce**
Click on the Export button above the table titled `Samples` in the `Review and Edit` tab does not allow to download the file and instead returns this error message:

ERRO

[2021-03-03 16:51] robwwilliams commented on #560
Thanks Eugen. On it.

On Wed, Mar 3, 2021 at 8:34 AM Eugen Netz <notifications@github.com> wrote:

--
Rob

Robert W. Williams, Ph.D.
Chair: Department of Genetics, Genomics and Informatics
University of Tennessee Health Science Center
71 S Manassas St, Memphis TN 38103-3310,  TSRB Room 405
Tele/Cell: 901 604 4752
EMAIL: rwilliams@uthsc.edu  or  labwilliams@gmail.com

[2021-03-03 19:16] zsloan commented on #560
This should be fixed now. The code wasn't accounting for situations where an un-published trait didn't have a pre-publication description, but now it just says N/A for it.

[2021-03-04 08:06] enetz commented on #560
@zsloan thanks for the quick response! works fine now

[2021-03-04 08:06] #560 closed, assigned to nobody

[2021-03-28 11:02] rupertoverall opened #564 "[Feature] Fetch trait names for phenotypes"
## Is your feature request related to a problem? Please describe.

The 'Fetch Trait Info' query returns detailed information for transcript expression traits, but not for traits from the 'Publish' database.

## Describe the solution you'd like

For example, downloading the data as CSV via the web interface includes the following header information:
[code]
Whereas via the API, only information on p

[2021-03-28 15:32] robwwilliams commented on #564
Thanks Rupert.

On Sun, Mar 28, 2021 at 6:02 AM rupertoverall ***@***.***>
wrote:

--
Rob

Robert W. Williams, Ph.D.
Chair: Department of Genetics, Genomics and Informatics
University of Tennessee Health Science Center
71 S Manassas St, Memphis TN 38103-3310,  TSRB Room 405
Tele/Cell: 901 604 4752
EMAIL: ***@***.***  or  ***@***.***

[2021-05-06 01:39] eldoyle opened #573 "Gene Network Submit Trait under the Intro menu broken"
The link to the Submit Trait webpage http://www.genenetwork.org/submit_trait is resulting in an error.  An image of the error screen is attached and the error message is included below.  The link was working properly last week when I used it previously.  The error occurs either when entering the link directly into a browser as a URL or when navigating to the page through the GeneNetwork Intro menu

[2021-05-07 15:38] squirrelB commented on #573
Yes, it's still broken. Getting the same error message

[2021-05-07 16:00] zsloan commented on #573
This should be fixed now; this was apparently introduced by a recent change.

[2021-05-26 14:54] rupertoverall opened #581 "Variant Browser seems to be using mm9"
When looking for SNPs in GN2, the gene annotations (and, I think, the SNPs) of the results do not match the query.
Searching for a gene gives correct coordinates in the search box at [http://www.genenetwork.org/snp_browser](http://www.genenetwork.org/snp_browser?first_run=true&chosen_strains_mouse=C57BL%2F6J%2CDBA%2F2J%2CA%2FJ%2C129S1%2FSvImJ%2CNOD%2FShiLtJ%2CNZO%2FHlLtJ%2CWSB%2FEiJ%2CPWK%2FPhJ%2C

[2021-05-26 16:40] pjotrp commented on #581
Interesting. Maybe @acenteno or @robwwilliams can comment.

[2021-05-28 18:02] squirrelB opened #582 "No able to add to collection"
Hi,
Not able to add to collection. This error message
<img width="1295" alt="Screen Shot 2021-05-28 at 1 00 32 PM" src="https://user-images.githubusercontent.com/31778385/120024489-e744db00-bfb4-11eb-8990-dd93f17f0980.png">

[2021-05-28 18:33] zsloan commented on #582
This should be fixed now with afc7a742da58a318c2b9c8b1c93209fc3820009a

[2021-05-31 08:30] BonfaceKilz commented on #582
Fixed in: https://github.com/genenetwork/genenetwork2/commit/afc7a742da58a318c2b9c8b1c93209fc3820009a

[2021-05-31 08:30] #582 closed, assigned to nobody

[2021-07-16 12:32] heimel opened #592 "'TempDataSet' object has no attribute 'query_for_group' (error)"
After successful entry of new BXD trait data (both my own data and the example BXD set from the website), I tried to correlate the trait with the BXD phenotypes, by clicking the correlate button. This produced the error below:

GeneNetwork tux01:gene:2.11-rc2-staging-427071fc7 http://www.genenetwork.org/corr_compute (12:29PM UTC Jul 16, 2021)
    'TempDataSet' object has no attribute 'query_for_gr

[2021-07-16 13:57] robwwilliams commented on #592
Dear Alex,

Thanks. Oh, that is your own new trait.
Bonface and team are working on the input for new traits right now.

Can you send the trait that you were evaluating?  If you want we can enter
for you.

On Fri, Jul 16, 2021 at 7:32 AM Alexander Heimel ***@***.***>
wrote:

--
Rob

Robert W. Williams, Ph.D.
Chair: Department of Genetics, Genomics and Informatics
University of Tennessee Health Sci

[2021-07-16 14:50] zsloan commented on #592
My guess is that the issue might apply to all temp traits; I'll take a look.

On Fri, Jul 16, 2021 at 8:57 AM robwwilliams ***@***.***>
wrote:

[2021-07-16 15:53] heimel commented on #592
Hi Rob and Zachary,

Thanks for getting back so quickly. There is no urgency for me. I managed
to upload the trait as a batch file in the old version of genenetwork.

The trait data that I tried to upload and check on GN2 was the
median-lateral position of the representation of visual space on V1. It was
old data that we had, but never uploaded, because we were investigating a
specific cross for a

[2021-07-16 16:15] robwwilliams commented on #592
Cool Alex. Let me know if I can help.

On Fri, Jul 16, 2021 at 10:53 AM Alexander Heimel ***@***.***>
wrote:

--
Rob

Robert W. Williams, Ph.D.
Chair: Department of Genetics, Genomics and Informatics
University of Tennessee Health Science Center
71 S Manassas St, Memphis TN 38103-3310,  TSRB Room 405
Tele/Cell: 901 604 4752
EMAIL: ***@***.***  or  ***@***.***

[2021-07-21 20:14] chen42 opened #594 "[Bug] csv export meta data are not commented out"
**csv export data can't be read using the example R code**
The csv looks like this:

[code]
The metadata need to be commented out and the empty line needs to be removed. R expects the first line to be the header.

[2021-07-21 21:43] zsloan commented on #594
Thanks for pointing this out. Commenting it out is definitely the right thing to do there and I'll make that change tomorrow. I hadn't considered the fact that those lines would cause problems with reading in the file (even though it's extremely obvious why it would; just one of those blind spots from me not using GN in the way most users do).

[2021-09-10 04:35] jgarte opened #603 "Two broken links in doc/README.org"
The broken link in both cases is http://biogems.info/contrib/genenetwork/gn2.svg

https://github.com/genenetwork/genenetwork2/blob/testing/doc/README.org#gn2-dependency-graph

https://github.com/genenetwork/genenetwork2/blob/testing/doc/README.org#introduction

[2021-09-10 12:04] robwwilliams commented on #603
From *https://github.com/genenetwork/genenetwork2/blob/testing/doc/development.org
<https://github.com/genenetwork/genenetwork2/blob/testing/doc/development.org>*

This statement is not true. Was last updated a year ago. Time to edit the
Development.org text a bit. I see that flagged for Bonface to handle, but
he is tied up.

"To add packages you need to make sure the correct Python is used
(curre

[2021-09-10 18:26] jgarte commented on #603
Hi Rob,

Thank you for pointing that one out.

I'll fix it and send a pull request for review.

The order of instructions in the [installation docs](https://github.com/genenetwork/genenetwork2/blob/testing/doc/README.org#installing-genenetwork-services) can also benefit from some editing.

If one goes through the docs linearly they quickly find out that they should have completed a different step

[2021-09-17 04:52] jgarte commented on #603
@BonfaceKilz @pjotrp

What is the current version(s) of python that `genenetwork2` supports in production?

`3.8.2`, same as current guix upstream?

Should we have a document, `requirements.txt` perhaps, stating the [semver](https://semver.org/) ranges that are supported by the current release of `genenetwork2`?

Then, users can just refer to that as the "single source of truth" instead of mention

[2021-09-17 06:08] pjotrp commented on #603
python-wrapper:

http://genenetwork.org/environments/

On Thu, Sep 16, 2021 at 09:53:08PM -0700, jgart wrote:

[2021-10-14 22:19] squirrelB opened #610 "GEMMA mapping is not working"
Hi. It's Beni. GEMMA is not working. And the option to select cofactors is also no longer available

[2021-10-15 00:40] zsloan commented on #610
Can you link to the trait page (or is it with a user-submitted trait)?

For covariates, do you have any collections? It doesn't show the button if
there aren't any user collections (though it still shows some text saying
that there are no collections).

On Thu, Oct 14, 2021 at 5:19 PM squirrelB ***@***.***> wrote:

[2021-10-15 01:59] robwwilliams commented on #610
Will fix. Could you add the specific trait you used too.

On Thu, Oct 14, 2021 at 5:19 PM squirrelB ***@***.***> wrote:

--
Rob

Robert W. Williams, Ph.D.
Chair: Department of Genetics, Genomics and Informatics
University of Tennessee Health Science Center
71 S Manassas St, Memphis TN 38103-3310,  TSRB Room 405
Tele/Cell: 901 604 4752
EMAIL: ***@***.***  or  ***@***.***

[2021-10-15 03:44] squirrelB commented on #610
Hi,
It’s not user submitted. I tried mapping meQTL  and eQTL, and didn’t work both times. Here’s an example of a trait. Haley Knot interval mapping works but not Gemma.

http://genenetwork.org/show_trait?trait_id=cg07241696&dataset=INIA-BXD-LivDNAminfi-1020

Sent from my iPhone

[2021-10-15 04:46] zsloan commented on #610
Hm, probably something specific to the group/genotype files. I'll take a
look tomorrow.

On Thu, Oct 14, 2021 at 10:44 PM squirrelB ***@***.***> wrote:

[2021-10-15 18:06] zsloan commented on #610
It should be fixed now; the BIMBAM genotype files (used by GEMMA) just needed to be updated (the .geno had been updated without the BIMBAM files also being updated). Let me know if you still encounter any issues, but it seems to be working after updating the BIMBAM files.

[2021-10-15 22:27] squirrelB commented on #610
Hi. It's still not mapping for me. I tried using both Safari and Chrome.
Interval mapping t works; GEMMA and RQTL do not. Same error message
 Few weeks back, GEMMA was working perfectly.

[image: image.png]

On Fri, Oct 15, 2021 at 1:06 PM zsloan ***@***.***> wrote:

--
K Mozhui

[2021-10-15 23:21] zsloan commented on #610
Apparently production wasn't using the latest changes for some reason
(including one to replace forward slashes in the output filenames, which is
why it caused problems for only some specific traits). It should actually
work now!

You might need to clear cache if using covariates; some of the updates
were JS and they didn't work for me until clearing cache.

On Fri, Oct 15, 2021 at 5:27 PM squirre

[2021-10-20 02:35] jacs123 opened #612 "GeneNetwork tux01:gene:2.11-rc2-testing-c16e361c4 'BXD102xBXD077F1' (error)"
Hi,

There is an error when I click on Compute in Calculate Correlations. It does not load the correlations. This is the error:
    GeneNetwork tux01:gene:2.11-rc2-testing-c16e361c4
    'BXD102xBXD077F1' (error)

Is this a server issue? Thanks!

[2021-10-20 02:51] robwwilliams commented on #612
Our problem. We are aware and working in this issue. Sorry. Use GN1
 version if you need immediate results: See top right side of search page
for this GN1 link:

http://gn1.genenetwork.org/webqtl/main.py

On Tue, Oct 19, 2021 at 9:35 PM jacs123 ***@***.***> wrote:

--
Rob

Robert W. Williams, Ph.D.
Chair: Department of Genetics, Genomics and Informatics
University of Tennessee Health Science Cente

[2021-10-20 03:31] zsloan commented on #612
Can you link to the trait in question?

On Tue, Oct 19, 2021, 9:51 PM robwwilliams ***@***.***> wrote:

[2021-10-20 03:47] jacs123 commented on #612
It is this https://www.genenetwork.org/show_trait?trait_id=1448231_at&dataset=HC_M2_0606_P

[2021-10-20 05:31] zsloan commented on #612
Did you use any options with that? It works when I try with default
choices (just loading that link and going clicking "Compute" under
Correlations).

There's a known issue with operations timing out that we're working on, but
that doesn't seem to be what's going on here (since there's an actual error
in this case).

On Tue, Oct 19, 2021 at 10:47 PM jacs123 ***@***.***> wrote:

[2021-10-20 05:39] jacs123 commented on #612
It worked for you? Strange.. I didn't change the options. As default- Sample R, Top 500, BXD, Pearson. It is still giving me that same error.

[2021-10-20 05:54] pjotrp commented on #612
Do you mind pasting the full error message?

[2021-10-20 06:12] jacs123 commented on #612
![Screenshot (96)](https://user-images.githubusercontent.com/20255407/138037823-950c1a53-4dd9-4990-ac5b-dbacc15e55cf.png)

[2021-10-20 06:42] pjotrp commented on #612
Can you hit the toggle stack button too?

[2021-10-20 06:46] jacs123 commented on #612
In the Toggle stack trace, it says:
    GeneNetwork tux01:gene:2.11-rc2-testing-c16e361c4  http://www.genenetwork.org/corr_compute ( 6:45AM UTC Oct 20, 2021)  ['Traceback (most recent call last):', '  File "/export/local/home/zas1024/opt/gn2_20210817/lib/python3.8/site-packages/flask/app.py", line 1950, in full_dispatch_request', '    rv = self.dispatch_request()', '  File "/export/local/home/zas1

[2021-10-20 06:53] pjotrp commented on #612
Ah, inside GN3. @zsloan @Alexanderlacuna

[2021-10-20 07:00] zsloan commented on #612
That's actually in GN2; correlation_gn3_api.py is the GN2 code calling GN3.

The error itself is simple, but it's strange that I don't get the same
error. It seems like this would only happen if BXD102xBXD077F1 wasn't in
the trait page data being submitted with the form. That sample is one that
was added relatively recently, so I'm wondering if for some reason the
browser is loading in an older ve

[2021-10-20 07:04] jacs123 commented on #612
This one here?

![Screenshot (98)](https://user-images.githubusercontent.com/20255407/138044133-c9aa6b2a-580e-48b0-8483-59af061a0685.png)

[2021-10-20 07:09] jacs123 commented on #612
It's working now! I don't know what happened but thank you for your help!

[2021-10-20 10:29] robwwilliams commented on #612
That error message includes a BDD F1 hybrid? Why? Would it be case list
issue?

On Wed, Oct 20, 2021 at 12:39 AM jacs123 ***@***.***> wrote:

--
Rob

Robert W. Williams, Ph.D.
Chair: Department of Genetics, Genomics and Informatics
University of Tennessee Health Science Center
71 S Manassas St, Memphis TN 38103-3310,  TSRB Room 405
Tele/Cell: 901 604 4752
EMAIL: ***@***.***  or  ***@***.***

[2021-10-20 10:51] robwwilliams commented on #612
REOPEN PLEASE:

I  just tried running a dirt simple correlation on PRODUCTION  with this
trait

https://genenetwork.org/show_trait?trait_id=1436869_at&dataset=HC_M2_0606_R

and get this error message after about 4 seconds:

*Houston, we have a problem*

*If we cannot fix this error ASAP we should roll back to a version of GN2,
or god forbid if this does not work, redirect to another instance (back

[2021-10-20 16:59] zsloan commented on #612
Very strange, since it still doesn't happen for me (and isn't the timeout
thing). There's something I can add to the code that will probably fix the
error, but I can't really test it without being able to reproduce the issue.

Rob, do you also get the error if you run the same correlation on my
branch? If so, I can test the change there and see if it fixes it for you.

On Wed, Oct 20, 2021 at 5:51

[2021-10-20 21:41] robwwilliams commented on #612
Confirmed error using this trait in both Safari and Firefox.

Seems to be the BXD case "BXD217" that is part of the issue.

Why now?

https://genenetwork.org/show_trait?trait_id=1436869_at&dataset=HC_M2_0606_R

and correlation.

This error is not what we wanted to see. Unfortunately errors are part of
all software systems and we need to resolve this together.

*It is important to report this ERROR

[2021-10-20 22:00] zsloan commented on #612
Rob, do you also experience this on my branch? I can't reproduce it
(correlations from that trait page work fine for me), but I can at least
see if a change fixes it if you also see the same error on my branch.

On Wed, Oct 20, 2021 at 4:41 PM robwwilliams ***@***.***>
wrote:

[2021-10-21 00:25] robwwilliams commented on #612
Yep, same trait on your branch—same error. Screen shot below.
[image: Screen Shot 2021-10-20 at 7.23.44 PM.png]

On Wed, Oct 20, 2021 at 5:00 PM zsloan ***@***.***> wrote:

--
Rob

Robert W. Williams, Ph.D.
Chair: Department of Genetics, Genomics and Informatics
University of Tennessee Health Science Center
71 S Manassas St, Memphis TN 38103-3310,  TSRB Room 405
Tele/Cell: 901 604 4752
EMAIL: ***@

[2021-10-21 01:20] zsloan commented on #612
Good; that means I can at least test out a fix (though I'll need you to
test it). I'll let you know when the potential fix is up on my branch
tomorrow (though I'm still very confused about why this issue doesn't seem
to happen consistently).

On Wed, Oct 20, 2021 at 7:25 PM robwwilliams ***@***.***>
wrote:

[2021-10-21 02:56] jacs123 commented on #612
There is another thing. I can't seem to get more than 2000 genes. With Top 5000, I get a 502 bad gateway error. I tried to narrow the range and that did not reduce the range displayed in the correlation table.

[2021-10-27 03:41] jacs123 opened #615 "Correlations table does not show more than 5000 genes. 502 Bad Gateway Error"
Hi,

I am trying to get a list of genes with correlations |r| >= 0.4 from https://www.genenetwork.org/show_trait?trait_id=1460303_at&dataset=HC_M2_0606_P
Under the Calculate correlations tab, with default settings but Top 500 or 2000 genes, it produces the correlation tables. However, if I choose Top 5000, it tries to load ("Loading Correlation Results..." is shown) but ends up with a 502 bad gate

[2021-10-27 07:17] zsloan commented on #615
There's some sort of strange ongoing issue where things will timeout like
this (that for some reason seems to only occur in the evening hours).

In the meanwhile, if this happens, try using the url luna.genenetwork.org,
which was recently added with the intention of being a more stable
"fallback" option (so for the example trait in question,
http://luna.genenetwork.org/show_trait?trait_id=1460303_

[2021-10-27 08:17] jacs123 commented on #615
Thank you!

[2021-10-27 08:17] #615 closed, assigned to nobody

[2021-10-27 12:37] robwwilliams commented on #615
We are on it.

On Tue, Oct 26, 2021 at 10:41 PM jacs123 ***@***.***> wrote:

--
Rob

Robert W. Williams, Ph.D.
Chair: Department of Genetics, Genomics and Informatics
University of Tennessee Health Science Center
71 S Manassas St, Memphis TN 38103-3310,  TSRB Room 405
Tele/Cell: 901 604 4752
EMAIL: ***@***.***  or  ***@***.***

[2021-11-16 02:49] Menzieslab opened #628 "New error in genenetwork.org when performing correlations"
I have been trying to perform correlations on the newer version of genenetwork.org and since the weekend have been receiving errors for all of my analyses. Here is an example:

I tried to examine the top 500 gene correlations for Hnf4a (10478389) in its own dataset: EPFL/LISP BXD CD Liver Affy Mouse Gene 1.0 ST (Aug18) RMA  which resulted in an error. Here is the “full stack trace”:

GeneNetwork t

[2021-11-16 12:01] pjotrp opened #629 "Global search does not return results"
**Describe the bug**

Try a search for `Brca2`

I am trying to add an example to this storyboard:

https://github.com/genenetwork/gn-docs/blob/master/story-boards/starting-from-known-gene.md#use-the-search-page

[2021-11-16 12:02] pjotrp commented on #610
I suppose this is working.

[2021-11-16 12:02] #610 closed, assigned to nobody

[2021-11-16 12:03] pjotrp commented on #603
Can we close this now?

[2021-11-17 10:46] #603 closed, assigned to nobody

[2021-11-17 13:36] pjotrp commented on #629
Interestingly luna does no better:

http://luna.genenetwork.org/gsearch?type=gene&terms=brca2

[2021-11-19 08:28] Alexanderlacuna commented on #628
thanks for reporting the issue. The bug is now fixed.

[2022-01-05 09:28] astulaaa opened #657 "404 Not Found:"
Hello, the link from this publication is not working https://www.ncbi.nlm.nih.gov/pmc/articles/PMC2736153/

GeneNetwork tux01:gene:2.11-rc2-testing-c5c5de8aa
    404 Not Found: The requested URL was not found on the server. If you entered the URL manually please check your spelling and try again. (error)

Thank you!

[2022-01-05 13:17] robwwilliams commented on #657
Seems to work for me today. Could you try again now?

On Wed, Jan 5, 2022 at 3:29 AM astulaaa ***@***.***> wrote:

--
Rob

Robert W Williams PhD
Department of Genetics, Genomics and Informatics
71 S Manassas St, Memphis TN 38163
University of Tennessee Health Science Center, TSRB 405
 Cell: 901 604 4752
EMAIL: ***@***.***
Zoom: https://tennesseehipaa.zoom.us/j/9492269658
----------------

[2022-01-05 16:29] BonfaceKilz commented on #657
astulaaa ***@***.***> anaandika:

Hi astulaaa.  This link works for me.  Could you
confirm that so that I can go ahead and close this
;)

[2022-03-02 19:02] ckliethermes opened #677 "Traits and Cofactors correlation error"
I received the error below when trying to identify traits that correlate with phenotypes in the Traits and Cofactors database (Trait Data And Analysis Page: Calculate Correlations > BXD Published phenotypes).  None of the expression databases give this error; the list of top correlated traits generates as expected.

Copied from error screen:

 (GeneNetwork error: Extra data: line 1 column 6765450

[2022-03-02 20:14] zsloan commented on #677
Thank you for pointing this out! Taking a look at it now.

On Wed, Mar 2, 2022 at 1:02 PM ckliethermes ***@***.***>
wrote:

[2022-03-02 21:45] zsloan commented on #677
This issue is apparently being caused by recently added code caching trait
metadata for the correlation results (though I'm not sure what the specific
issue is yet).

For the time being I disabled using the cache for phenotype datasets, so it
should work.

On Wed, Mar 2, 2022 at 2:14 PM Zachary Sloan ***@***.***>
wrote:

[2022-03-02 21:47] ckliethermes commented on #677
Thanks Zachary!  It's working fine on my side now.  I have some student using this for an assignment, and there was a flurry of panicked emails this morning...
Chris

From: zsloan ***@***.***>
Sent: Wednesday, March 2, 2022 3:46 PM
To: genenetwork/genenetwork2 ***@***.***>
Cc: Chris Kliethermes ***@***.***>; Author ***@***.***>
Subject: Re: [genenetwork/genenetwork2] Traits and Cofactors correlati

[2022-03-03 07:14] BonfaceKilz commented on #677
ckliethermes ***@***.***> anaandika:

@Alexanderlacuna  or @zsloan, best to add a test (or work out
how to) when fixing this. Ideally, the steps for
adding a test against a bug are:

- Try to reproduce the error above; without even
  writing any code.

- Reproduce that error in code as a test. Let
  tests fail: we call this a red.

- Fix the failing test in code and submit a PR.

- Close this issu

[2022-03-08 02:27] ckliethermes commented on #677
We're having a new problem as of this afternoon (3-7) - we're getting a 502 Bad Gateway error when trying to access the site.  I've tried multiple machines on multiple networks but the result is the same.
Chris

From: zsloan ***@***.***>
Sent: Wednesday, March 2, 2022 3:46 PM
To: genenetwork/genenetwork2 ***@***.***>
Cc: Chris Kliethermes ***@***.***>; Author ***@***.***>
Subject: Re: [genenetwork

[2022-03-08 03:42] robwwilliams commented on #677
Sorry Chris,

Zach and team trying to fix. Should be up  soon. Holding me up too.
Problems is being diagnosed.

On Mon, Mar 7, 2022 at 20:27 ckliethermes ***@***.***> wrote:

--
Rob

Robert W Williams PhD
Department of Genetics, Genomics and Informatics
71 S Manassas St, Memphis TN 38163
University of Tennessee Health Science Center, TSRB 405
 Cell: 901 604 4752
EMAIL: ***@***.***
Zoom: https://te

[2022-03-08 03:43] zsloan commented on #677
This seems to be because of an issue where mapping of a particular dataset
is causing the server to crash. I restarted it, so it should be working now.

On Mon, Mar 7, 2022 at 8:27 PM ckliethermes ***@***.***>
wrote:

[2022-03-22 10:11] fredmanglis commented on #677
@ckliethermes @zsloan Is this still an issue? May I close this issue as complete?

[2022-03-22 10:14] #657 closed, assigned to nobody

[2022-03-22 10:37] fredmanglis commented on #629
Migrated to [gemtext tracker](https://github.com/genenetwork/gn-gemtext-threads/blob/main/issues/global-search-results.gmi)

[2022-03-22 10:37] #629 closed, assigned to zsloan

[2022-03-22 10:38] #628 closed, assigned to Alexanderlacuna

[2022-03-22 11:01] fredmanglis commented on #612
I have migrated this issue to [the gemtext tracker](https://github.com/genenetwork/gn-gemtext-threads/blob/main/issues/BXD102xBXD077F1-error.gmi) and I'm therefore closing it here.

[2022-03-22 11:01] #612 closed, assigned to nobody

[2022-03-22 11:07] fredmanglis commented on #594
Migrated to [gemtext tracker](https://github.com/genenetwork/gn-gemtext-threads/blob/main/issues/csv-metadata-not-commented-out.gmi). Closing here.

[2022-03-22 11:07] #594 closed, assigned to nobody

[2022-03-22 11:17] fredmanglis commented on #592
Migrated to [gemtext issue tracker](https://github.com/genenetwork/gn-gemtext-threads/blob/main/issues/TempDataSet-object-has-no-attribute.gmi)

[2022-03-22 11:17] #592 closed, assigned to nobody

[2022-03-22 11:24] fredmanglis commented on #581
Migrated to [gemtext issue tracker](https://github.com/genenetwork/gn-gemtext-threads/blob/main/issues/variant-browser-using-mm9.gmi)

[2022-03-22 11:24] #581 closed, assigned to nobody

[2022-03-22 11:27] fredmanglis commented on #573
Closing this issue as fixed

[2022-03-22 11:27] #573 closed, assigned to nobody

[2022-03-22 11:37] fredmanglis commented on #564
Migrated to [gemtext issue tracker](https://github.com/genenetwork/gn-gemtext-threads/blob/main/issues/fetch-trait-names-for-phenotypes.gmi)

[2022-03-22 11:37] #564 closed, assigned to nobody

[2022-03-22 16:58] zsloan commented on #677
The initial issue should be fixed, yeah (the correlation caching stuff).

The issue mentioned later is caused by GEMMA and I don't think is resolved
yet, but Pjotr is looking into it. Since it's a completely different issue
it should be okay to close this one.

On Tue, Mar 22, 2022, 5:16 AM Muriithi Frederick Muriuki <
***@***.***> wrote:

[2022-03-23 05:34] fredmanglis commented on #559
Migrated to [gemtext issue tracker](https://github.com/genenetwork/gn-gemtext-threads/blob/main/issues/adding-principle-component-to-collection-error.gmi)

[2022-03-23 05:34] #559 closed, assigned to nobody

[2022-03-23 05:42] fredmanglis commented on #551
Migrated to the [gemtext issue tracker](https://github.com/genenetwork/gn-gemtext-threads/blob/main/issues/capture-phenotype-state-in-a-hash.gmi)

[2022-03-23 05:42] #551 closed, assigned to pjotrp, zsloan

[2022-03-23 05:47] fredmanglis commented on #507
@zsloan @squirrelB Is this issue fixed? It looks like @zsloan got some work done, but there has not been any more information since.

I am closing this for now, but if it is not fixed, please reopen with more notes, so that I know to migrate it to the new issue tracker.

[2022-03-23 05:47] #507 closed, assigned to nobody

[2022-03-23 05:50] fredmanglis commented on #487
@pjotrp @BonfaceKilz is this done? I am closing it as such, but if it is incomplete, either **reopen it here with more notes and I'll migrate it to the gemtext tracker** or **migrate it to the gemtext tracker with the new notes**

[2022-03-23 05:50] #487 closed, assigned to BonfaceKilz, Alexanderlacuna

[2022-03-23 06:06] fredmanglis commented on #441
Migrated to the [gemtext issue tracker](https://github.com/genenetwork/gn-gemtext-threads/blob/main/issues/capture-data-on-BXDs-in-RDF.gmi)

[2022-03-23 06:06] #441 closed, assigned to pjotrp, zsloan, BonfaceKilz

[2022-03-23 06:17] fredmanglis commented on #439
Migrated to the [gemtext issue tracker](https://github.com/genenetwork/gn-gemtext-threads/blob/main/issues/add-search-select-export-to-datatables-table.gmi)

[2022-03-23 06:17] #439 closed, assigned to zsloan, BonfaceKilz

[2022-03-23 06:25] fredmanglis commented on #421
Migrated to the [gemtext issue tracker](https://github.com/genenetwork/gn-gemtext-threads/blob/main/issues/gn1-annotation-page-is-broken.gmi)

[2022-03-23 06:25] #421 closed, assigned to nobody

[2022-03-23 06:40] fredmanglis commented on #420
Migrated to the [gemtext issue tracker](https://github.com/genenetwork/gn-gemtext-threads/blob/main/issues/automatically-find-broken-links-on-gn2.gmi)

[2022-03-23 06:40] #420 closed, assigned to zsloan, Alexanderlacuna

[2022-03-23 06:46] fredmanglis commented on #677
@zsloan Okay then, do the following:

- [ ] extract what is not completed into a new issue in the [gemtext issue tracker](https://github.com/genenetwork/gn-gemtext-threads)
- [ ] Add a link in the new gemtext issue pointing to this issue.
- [ ] Add a link to this issue pointing to the new gemtext issue
- [ ] close this issue

Tick the steps above as you finish them to ensure you do not miss any.

[2022-03-23 06:53] fredmanglis commented on #419
Migrated to the [gemtext issue tracker](https://github.com/genenetwork/gn-gemtext-threads/blob/main/issues/slow-query.gmi)

[2022-03-23 06:53] #419 closed, assigned to Uditgulati

[2022-03-23 06:58] fredmanglis commented on #418
Migrated to the [gemtext issue tracker](https://github.com/genenetwork/gn-gemtext-threads/blob/main/issues/global-search-connection-slow.gmi)

[2022-03-23 06:58] #418 closed, assigned to Uditgulati

[2022-03-23 07:08] fredmanglis commented on #400
Migrated to the [gemtext issue tracker](https://github.com/genenetwork/gn-gemtext-threads/blob/main/issues/integrate-feed-analyser.gmi).

[2022-03-23 07:08] #400 closed, assigned to BonfaceKilz

[2022-03-23 07:15] fredmanglis commented on #399
Migrated to the [gemtext issue tracker](https://github.com/genenetwork/gn-gemtext-threads/blob/main/issues/unable-to-open-new-tabs-for-mapping-correlations-in-chrome.gmi)

[2022-03-23 07:15] #399 closed, assigned to nobody

[2022-03-23 07:20] fredmanglis commented on #397
@BonfaceKilz Tried this out, and it seems to be fixed at this point in time (2022-03-23T10:19+03:00UTC). I am closing this as fixed.

In case this is not satisfactory, please open an issue in the gemtext issue tracker and link it to this issue.

[2022-03-23 07:20] #397 closed, assigned to nobody

[2022-03-23 07:29] fredmanglis commented on #395
Migrated to the [gemtext issue tracker](https://github.com/genenetwork/gn-gemtext-threads/blob/main/issues/search-results-for-SNPs-look-weird.gmi)

[2022-03-23 07:29] #395 closed, assigned to nobody

[2022-03-23 07:34] fredmanglis commented on #374
Migrated to the [gemtext issue tracker](https://github.com/genenetwork/gn-gemtext-threads/blob/main/issues/correlation-error.gmi)

[2022-03-23 07:34] #374 closed

[2022-03-23 07:40] fredmanglis commented on #368
Migrated to the [gemtext issue tracker](https://github.com/genenetwork/gn-gemtext-threads/blob/main/issues/multi-trait-heatmap-failed.gmi)

[2022-03-23 07:40] #368 closed

[2022-03-23 07:46] fredmanglis commented on #367
Migrated to [gemtext issue tracker](https://github.com/genenetwork/gn-gemtext-threads/blob/main/issues/error-zooming-chromosome.gmi)

[2022-03-23 07:46] #367 closed

[2022-03-31 12:15] Menzieslab opened #694 "Problem with calculating correlations on genenetwork"
There seems to be a problem when calculating correlations:
![Untitled 2](https://user-images.githubusercontent.com/88096758/161052316-0913da93-f9c6-477a-9c87-d1df87665ac4.jpg)

[2022-03-31 12:47] robwwilliams commented on #694
Zach, Do you have enough to go on here or do you need the traits?

On Thu, Mar 31, 2022 at 07:15 Menzieslab ***@***.***> wrote:

--
Rob

Robert W Williams PhD
Department of Genetics, Genomics and Informatics
71 S Manassas St, Memphis TN 38163
University of Tennessee Health Science Center, TSRB 405
 Cell: 901 604 4752
EMAIL: ***@***.***
Zoom: https://tennesseehipaa.zoom.us/j/9492269658
------------

[2022-03-31 12:59] zsloan commented on #694
This is enough, since it appears to always happen if you do a literature
correlation.

On Thu, Mar 31, 2022 at 7:15 AM Menzieslab ***@***.***> wrote:

[2022-03-31 14:06] Menzieslab commented on #694
Great! Thank you for your help!
Keir

From: zsloan ***@***.***>
Reply-To: genenetwork/genenetwork2 ***@***.***>
Date: Thursday, March 31, 2022 at 9:00 AM
To: genenetwork/genenetwork2 ***@***.***>
Cc: "Keir J. Menzies" ***@***.***>, Author ***@***.***>
Subject: Re: [genenetwork/genenetwork2] Problem with calculating correlations on genenetwork (Issue #694)

Attention : courriel externe | external e

[2022-05-04 15:58] rupertoverall opened #704 "Uninformative error when batch submitting unknown strains."
When batch submitting temporary traits, the upload will sometimes fail with the error `The format of the file is incorrect, or it contains unknown strains.`
In my case, it is because I have data for strains that don't yet have GN genotypes (BXD224, BXD226). It would be pretty helpful when working out which strains to drop (or spell correctly) to have the offending strings reported. Is this possibl

[2022-05-04 17:13] robwwilliams commented on #704
Got it. Thanks Rupert.

On Wed, May 4, 2022 at 10:58 AM rupertoverall ***@***.***>
wrote:

--
Rob

Robert W Williams PhD
Department of Genetics, Genomics and Informatics
71 S Manassas St, Memphis TN 38163
University of Tennessee Health Science Center, TSRB 405
 Cell: 901 604 4752
EMAIL: ***@***.***
Zoom: https://tennesseehipaa.zoom.us/j/9492269658
----------------

[2022-05-05 08:28] BonfaceKilz commented on #704
rupertoverall ***@***.***>
anaandika:

Hi Rupert. Yes, this is possible: When an upload
fails, let it fail with a useful error message
instead of the generic message that leaves you
abit baffled. I'm tracking this here:
<https://issues.genenetwork.org/issues/uninformative-error-when-batch-submitting-unknown-strains.html>

--
Bonface M. K.
D4F09EB110177E03C28E2FE1F5BBAE1E0392253F (hkp://keys.gnupg.

[2022-05-25 21:07] dlinsen1 opened #707 "GEMMA fails on 'B6D2 EtOH Selected Advanced Intercross' (index 1 trait 10001)"
GeneNetwork tux01:gene:2.11-rc2-testing-4c1da5823
    unsupported operand type(s) for +: 'NoneType' and 'str' (error)

[2022-05-31 19:56] sens opened #708 "R/qtl API call not working"
I took the example from the GN API documentation
[code]

That returns an error.  Could you kindly check what is happening?
[rqterror.txt](https://github.com/genenetwork/genenetwork2/files/8808983/rqterror.txt)

[2022-06-07 22:45] ethanwillis opened #710 "certbot not configured properly. https issues."
So for some set of subdomains your letsencrypt certbot isn't setup properly.

https://gn3.genenetwork.org/
https://gn2.genenetwork.org/

It does seem to be configured properly for
https://gn3dev.genenetwork.org/

[2022-06-08 11:46] BonfaceKilz commented on #710
Ethan Willis ***@***.***> anaandika:

I'm looping in the relevant people for this
(Efraim and Arun). I think we've been aware of
this for some time now; and I can't remember why
exactly this was the case.

--
Bonface M. K.
D4F09EB110177E03C28E2FE1F5BBAE1E0392253F (hkp://keys.gnupg.net)
Free Software Activist
Humble GNU Emacs User | Bearer of scheme-y parens
Curator: <https://upbookclub.com> | Twit

[2022-06-09 08:24] arunisaac commented on #710
I'm not sure we are using the domains `https://gn3.genenetwork.org` and `https://gn2.genenetwork.org`. I thought we only used `https://genenetwork.org`. Let's ask @pjotrp

`https://gn3dev.genenetwork.org` is our development server, and that seems to work fine.

[2022-06-09 11:25] pjotrp commented on #710
hi @ethanwillis - yes we are using these domains and should check.

[2022-08-10 19:43] akumar289 opened #718 "Correlation issues"
Running literature correlation and running into the above error

Running a sample r correlation and run into the above error

[code]

Running a partial correlation produces this above error

[2022-08-11 09:01] BonfaceKilz commented on #718
akumar289 ***@***.***> aliandika:

@Alex doesn't this mean that gn3 changes have not
been seen by tux01?  If so, could you ping Arun to
update the server.  Otherwise, could you collab
with Zach on a fix and track that on
gn-gemtext-threads?

@akumar289 thanks for this report.  We are looking
into this.  Sorry for the inconvenience.

--
(I Search, I Find, I Misplace, I Research)
(D4F09EB110177E03C2

[2022-08-15 15:36] akumar289 commented on #718
I was wondering if there is any update regarding this?

[2022-08-15 18:12] zsloan commented on #718
I can't update to the latest code because it complains about not being able
to import rust-correlation. I assume this is because a new profile needs to
be built after updating guix-bioinformatics, but the same way I used to do
this no longer seems to work (it now complains about not being able to find
"genenetwork2").

On Thu, Aug 11, 2022 at 4:01 AM BonfaceKilz ***@***.***>
wrote:

[2022-08-16 10:10] BonfaceKilz commented on #718
zsloan ***@***.***> aliandika:

Perhaps @Arun can help; he has access to
production.  FWIW, I tested out a build of the
latest GN2 and created a profile for it locally,
and things work just fine.

--
(To agree without understanding is inane.
   To disagree without understanding is impudent.)
(D4F09EB110177E03C28E2FE1F5BBAE1E0392253F
    (hkp://keys.openpgp.org))

[2022-08-16 11:45] arunisaac commented on #718
It looks like the profile needs to be rebuilt.

I don't yet have access to production, though I am trying to get access. So, I can't help immediately. Maybe @pjotrp can.

[2022-08-16 12:49] akumar289 commented on #718
Did a literature correlation using the Full Retina database and produced this error again

[2022-08-16 14:02] robwwilliams commented on #718
Dear Aman, GN team.

I confirm that this is an error for ALL symbols. I used SHH as a well known
mouse symbol.  Here is the trait I used:

*https://genenetwork.org/show_trait?trait_id=1427571_at&dataset=HC_M2_0606_P
<https://genenetwork.org/show_trait?trait_id=1427571_at&dataset=HC_M2_0606_P>*

Here is the set-up in GN2

[image: Screen Shot 2022-08-16 at 8.59.12 AM.png]

And here is the error.

[2022-08-16 17:38] zsloan commented on #718
@BonfaceKilz I don't doubt that there's some way to do this; it's just that the old command for it no longer seems to work. This is the command I was using (to create a profile in my branch):

env GUIX_PACKAGE_PATH='/home/zas1024/guix-bioinformatics:/home/zas1024/guix-past/modules' /home/zas1024/.config/guix/current/bin/guix install genenetwork2 -p ~/opt/gn2__20220812 --substitute-urls="http://gui

[2022-08-16 18:06] zsloan commented on #718
I reverted to earlier commits that I think should get the literature
correlation working again (but may lose other changes from the past couple
weeks).

On Tue, Aug 16, 2022 at 9:03 AM Rob Williams ***@***.***>
wrote:

[2022-08-16 21:03] BonfaceKilz commented on #718
zsloan ***@***.***> aliandika:

Ah I see.  Arun is getting access to production so
he may be able to help.

Yeah.  One quick way, adapting you command above
would be to run:

  /home/zas1024/.config/guix/current/bin/guix \
    search -L /home/zas1024/guix-bioinformatics \
           -L /home/zas1024/guix-past/modules genenetwork2

The above will tell you what version of GN2 we are
running.  Altern

[2022-08-17 22:32] akumar289 commented on #718
Re-ran Lit correlation and ran into a new error (I think):

Settings were lit correlation, top 1000, HEI Full Retina Illumina V6.2 (Apr10) RankInv, trait ID: ILMN_2547762

[2022-08-17 22:43] zsloan commented on #718
Ah, I think that is new. Thanks for giving the dataset/options. I'll take a
look.

On Wed, Aug 17, 2022, 5:32 PM akumar289 ***@***.***> wrote:

[2022-08-22 21:47] chen42 opened #722 "incorrect text annotation for cisLRS search"
The following text is shown at the top of the combined search result page:

[code]

This should be *with an inclusion zone of 2 Mb around the parent gene.*

[2022-08-22 21:55] zsloan commented on #722
Ah, thanks for pointing this out. I'll fix the logic in the template that
deals with writing out that text.

On Mon, Aug 22, 2022 at 4:47 PM Hao Chen ***@***.***> wrote:

[2022-08-23 08:40] rupertoverall opened #723 "Error 'GeneralTrait' object has no attribute 'description_display' when working with collection ("shopping cart")"
I am hitting the following error when trying to add a trait to a non-default collection or to view the non-default collection from the collections list (http://genenetwork.org/collections/list). The non-default collection includes traits from several different series in the BXD family (phenotypes, hippocampal mRNA expression, liver mRNA expression).
Adding the same traits to the default collection

[2022-08-23 08:46] rupertoverall opened #724 "Partial correlations failing"
I am having no success with partial correlations in the BXD dataset.
There is no (empty) reported stack trace.

Command ID: cmd::2022-08-2308-4511-4511-008e6ec5-5e22-44c0-b871-8c114aaae64a

[2022-08-23 10:12] zsloan commented on #723
While I'm not sure if this is the issue, the http URL seems to not always
work correctly. Try the https URL and see if it still doesn't work.

This might not be the cause of your issue, but it's the first thing that
came to mind. If you still have this issue after using the https url, can
you give the specific traits/datasets (or if there are any user-entered
traits)?

On Tue, Aug 23, 2022 at 3:40

[2022-08-23 11:52] BonfaceKilz commented on #723
zsloan ***@***.***> aliandika:

Should this be the case, we should have forced
https re-directs probably somewhere in Nginx.

--
(To agree without understanding is inane.
   To disagree without understanding is impudent.)
(D4F09EB110177E03C28E2FE1F5BBAE1E0392253F
    (hkp://keys.openpgp.org))

[2022-08-23 12:06] rupertoverall commented on #723
Could this have anything to do with the fallback machine?
I have been made aware on a different thread that this runs on http. Just a thought...

[2022-08-23 19:33] akumar289 commented on #718
Was wondering if there was any update on this? Appreciate your help. I tried the same inputs as before and the same error appears as above

[2022-08-23 20:43] zsloan commented on #718
I think I know what's happening with the literature correlation issue (I
believe it applies to any situation where you try to do literature
correlation against a dataset different from the dataset of the trait in
question), but probably won't be able to merge the fix for it until after
this week, since we're trying to avoid touching the production server
during that time.

On Tue, Aug 23, 2022 at

[2022-08-23 20:55] akumar289 commented on #718
Understood. However, I ran the literature correlation against the same dataset of the trait in question.

[2022-08-24 04:08] zsloan commented on #718
Was this the Hippocampus trait 1427571_at correlated against the same
Hippocampus dataset? The trait link above is for that trait, but in a later
comment you mentioned the Retina dataset.

Literature correlations works for me if I do the above trait against its
own dataset, but returned an error if I changed the target dataset to the
Retina one.

On Tue, Aug 23, 2022 at 3:55 PM akumar289 ***@***.*

[2022-11-21 12:23] rupertoverall opened #749 "Error when remapping QTL"
I just got the following error when trying to do a QTL zoom (the first overview QTL map worked fine, but I can't zoom in to ChrX).
[code]

The screenshot attached shows the settings for my zoom request (I am attaching this as the SQL request in the stack trace seems not to exactly match what I was asking for).

The successful map was generated with these parameters:

Oddly, it only seems to fail w

[2022-11-21 13:49] robwwilliams commented on #749
Confirmed error:   GeneNetwork tux01:gene:2.11-rc2-gn_20221013-b710ff706

    (1064, "You have an error in your SQL syntax; check the manual
that corresponds to your MariaDB server version for the right syntax
to use near 'X'' AND Mb >= '3.065296' AND Mb < '3.074048' AND
StrainId1 = 2 AND StrainId2 = 3' at line 1") (error)

On Mon, Nov 21, 2022 at 6:23 AM rupertoverall ***@***.***>
wrote:

--
Rob